<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp1jNFW3f4TC5ZydoNMn2KRSYzrcQ" Guid="{2BCB1607-AFDB-41BD-AF31-ADF2D5DC1DEC}">
                <File Id="fil9lxhGDqGZ2ei4Lso0B08j89vPLk" KeyPath="yes" Source="$(var.BasePath)\AdvancedSkills.txt" />
            </Component>
            <Component Id="cmpDSGGeDFo2AsbSrbqFJnkvQ2ahLM" Guid="{2353AFB9-E836-4C1A-ABEB-CEC6C1E526AE}">
                <File Id="filTnqir8plLW_W3SdHyVySGbNLCeI" KeyPath="yes" Source="$(var.BasePath)\Quests.txt" />
            </Component>
            <Component Id="cmp5m.3X3VqzNgomGbOVaBnSYseOnQ" Guid="{8BB9B3CE-F01A-405E-B561-53EC175B879C}">
                <File Id="filRzok6775iaZ1jTUfDQqSBWCmhPA" KeyPath="yes" Source="$(var.BasePath)\Skua.App.WPF.deps.json" />
            </Component>
            <Component Id="cmpCDl9csrOFOqqrs8i0gy0AiafQVM" Guid="{EA222A41-A27A-49A9-9DC4-13A7E0B677D4}">
                <File Id="filnHs5TVAauZTjj2yqa1MxrgsMWCQ" KeyPath="yes" Source="$(var.BasePath)\Skua.App.WPF.dll" />
            </Component>
            <Component Id="cmpxuW2g8iq1IOgEZCaQZ41FWeDWRY" Guid="{2D2EA799-A9CB-4661-9669-87833DB9CCA7}">
                <File Id="filC84K3TJW9jL9OXtKAw9gXsxER9E" KeyPath="yes" Source="$(var.BasePath)\Skua.App.WPF.runtimeconfig.json" />
            </Component>
            <Component Id="cmp16IgY9t_fazmSPUoQ1CRWC.rJPU" Guid="{7624E2C2-8990-4449-8C2F-24E8AA935EDC}">
                <File Id="filQo_S0vwWXTaJurTerecEMWaDKME" KeyPath="yes" Source="$(var.BasePath)\Skua.exe" />
            </Component>
            <Component Id="cmpPFYKxBnOblQarjebLOCsFXjRCDE" Guid="{B8223ECC-865C-4BF3-B1A0-CA0FF9F953E8}">
                <File Id="filC.ucx43Epira1hcBvxydlFtC8P0" KeyPath="yes" Source="$(var.BasePath)\Skua.Manager.dll" />
            </Component>
            <Component Id="cmp8hsp9SEV0wB7Ig3B4bPq.S8R6II" Guid="{6DC93189-4890-4FCE-A702-5FA42070E4C7}">
                <File Id="filIIz.9dUBgJFNFX1fYfvbYLt.v08" KeyPath="yes" Source="$(var.BasePath)\Skua.Manager.exe" />
            </Component>
            <Component Id="cmpmSSw8f0QP6BTtDsttmf3.5qtlg8" Guid="{B4522278-1235-4620-B4A2-36BC8E53D508}">
                <File Id="fil_y0VKAaIrKKptgmbJ2wHea3yn2M" KeyPath="yes" Source="$(var.BasePath)\Skua.Manager.runtimeconfig.json" />
            </Component>
            <Component Id="cmpBTF1QW_ZZrRWEO1zA11EyTQIu_A" Guid="{351D52B0-4181-4BE0-A03C-65E5D03A00DF}">
                <File Id="filJzCg23Gu5._9kFkBug0_lXDv5y4" KeyPath="yes" Source="$(var.BasePath)\skua.swf" />
            </Component>
            <Directory Id="dirOit0dm4bCDatToFS3HRsSegabCM" Name="Assemblies">
                <Component Id="cmp76NgR1ug5r_dWRvSGvqCA2TRe0I" Guid="{B32860A9-5781-4A9A-A6F7-F033E8CE63C3}">
                    <File Id="fili_kBzYaHfhgJ.IE24xhhq4gc9k8" KeyPath="yes" Source="$(var.BasePath)\Assemblies\AxInterop.ShockwaveFlashObjects.dll" />
                </Component>
                <Component Id="cmpv1hRnTuIyEw8HTLR.TOmcv6RcHk" Guid="{3A85B1C4-D767-4609-B06B-E3484FDF71D0}">
                    <File Id="filRgwU5CPEoWCTOWWQPmnHMPACXW4" KeyPath="yes" Source="$(var.BasePath)\Assemblies\CommandLine.dll" />
                </Component>
                <Component Id="cmpeyEdtaRR0DJwykzBAf7.88L7MFc" Guid="{823618FC-1212-41AB-9179-82E0BBC1177E}">
                    <File Id="filpF0K3gHLP1JNwE7JHlqMVWd8a8E" KeyPath="yes" Source="$(var.BasePath)\Assemblies\CommunityToolkit.Mvvm.dll" />
                </Component>
                <Component Id="cmpxjDK3X.F5CGQ4g.FHn37U1Wq1cE" Guid="{FA1816BB-11B6-49CF-920B-4035ED415EC7}">
                    <File Id="filtICz0x.xYGYKIFzVYmn4zSmkJX4" KeyPath="yes" Source="$(var.BasePath)\Assemblies\CoreHook.dll" />
                </Component>
                <Component Id="cmpqAJ_uP7nhj_ifyrHNxsjBNj.hUY" Guid="{F2208A93-F6B6-4C3A-BB0C-D9BBD255228D}">
                    <File Id="fil.E6MUxBrc8nBw0lXeQnnelWzp1A" KeyPath="yes" Source="$(var.BasePath)\Assemblies\corehook32.dll" />
                </Component>
                <Component Id="cmpg9xqCg_X_Ye_2ppUmSVvugcrrQI" Guid="{55949716-2E20-4442-9CCC-447A3379E94C}">
                    <File Id="filEoTHntTOc91Ng9JEsHhfPHXxTJs" KeyPath="yes" Source="$(var.BasePath)\Assemblies\corehook64.dll" />
                </Component>
                <Component Id="cmpTFRuT2tca4GI3pybuRiHv1s4lCI" Guid="{BC0E013F-A989-4B3E-8F4A-CF0237C39426}">
                    <File Id="filxliFBzrLdwcDqp3XZ0PoPezdRY8" KeyPath="yes" Source="$(var.BasePath)\Assemblies\coreload32.dll" />
                </Component>
                <Component Id="cmpAalQni6rKhKfftMQpwteB4Q43bE" Guid="{904A5B63-29D4-42E4-883F-56113E75980E}">
                    <File Id="filb6cHnfPx463ND44f5XW_pM23WqM" KeyPath="yes" Source="$(var.BasePath)\Assemblies\coreload64.dll" />
                </Component>
                <Component Id="cmpYUsAQD5_H4lkZaOFihdt1lq8tJA" Guid="{2DD58533-17FB-40D5-BBF2-CD6D9E4DA6BA}">
                    <File Id="filmQEfjv69Ue0XqJHG_Ib5bFc048c" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Hardcodet.NotifyIcon.Wpf.dll" />
                </Component>
                <Component Id="cmpapyxUwF5dGOyWg78m8WDqyfk4lM" Guid="{2E6CB13F-F6B0-43E0-89EB-24594A91BEB5}">
                    <File Id="filfgte.n1u_ZB.lS4OLQoRF6EJY3g" KeyPath="yes" Source="$(var.BasePath)\Assemblies\ICSharpCode.AvalonEdit.dll" />
                </Component>
                <Component Id="cmp90cGoq76VXAUDWy0_drsw8J4OFI" Guid="{39C2F7CC-63FB-45BD-BAC0-1C68CA8F4441}">
                    <File Id="fila6ANyFloZGdMinaGF79fRA5L2uw" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Interop.ShockwaveFlashObjects.dll" />
                </Component>
                <Component Id="cmpo6sOvF.6gNCyka0_kfH5DbLcAF0" Guid="{EA250C87-1ACC-4628-82FB-49D9A6CDD32C}">
                    <File Id="filJRkx1As1dx7P_baZFpQblYR4mho" KeyPath="yes" Source="$(var.BasePath)\Assemblies\MaterialDesignColors.dll" />
                </Component>
                <Component Id="cmp34f515Kgos6k.4W9mKFZRz1XtkE" Guid="{971A3BB0-9814-4AFE-8E80-8CCE859223BC}">
                    <File Id="filiBpMBYgnZGredvTI2HU0j4E4XDE" KeyPath="yes" Source="$(var.BasePath)\Assemblies\MaterialDesignThemes.Wpf.dll" />
                </Component>
                <Component Id="cmpU86PzXQ9SSPdEag9wEQwGrFLWIw" Guid="{82107426-F85B-4380-B619-E301832520BC}">
                    <File Id="filjXOd6YHbYJXx07Y7mfbX1Nf78NM" KeyPath="yes" Source="$(var.BasePath)\Assemblies\MdXaml.dll" />
                </Component>
                <Component Id="cmpF7UTkP4.iHa89YUQpDP4r92gzyM" Guid="{80C9E078-38C7-4F8B-B0F7-5F5DA3F51774}">
                    <File Id="filGuqWWw.0Lak1mqlkkF_e_Wx9uF0" KeyPath="yes" Source="$(var.BasePath)\Assemblies\MdXaml.Plugins.dll" />
                </Component>
                <Component Id="cmpEVzVxMzhEICnbbsNam6ZSszhKB4" Guid="{252C4FDA-6B53-4BD3-9141-74564314EE5A}">
                    <File Id="fil3m9mdTpIaVOlq0_TkEeuS056KKE" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.CodeAnalysis.CSharp.dll" />
                </Component>
                <Component Id="cmpa4NLJqlTYp._bXq4TM_MAIjJRBM" Guid="{29A25058-4CEC-465C-8684-0684E24FACF3}">
                    <File Id="filfoItlGLxekp_9V25ZAp5Hz5LNxo" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.CodeAnalysis.dll" />
                </Component>
                <Component Id="cmp8gYc93fFKeipa4BxL7DMHfwLNcM" Guid="{D349774A-B1B7-4808-B776-941DC97A471C}">
                    <File Id="filglW.BztdFzkxh3LC.pmoPxFvW5Q" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.CodeAnalysis.Scripting.dll" />
                </Component>
                <Component Id="cmpEZ5oVtMB2JU3ySArlAAxkZcwgfY" Guid="{27F79FD6-584D-4251-9F75-9312A43158C6}">
                    <File Id="fil0kcMqmEBRH6HCBV7AmxiUKvOyPk" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
                </Component>
                <Component Id="cmpMlyimaLaGACmtcStHx0evR0Iq0k" Guid="{2FE80D92-F2D1-4BCC-9613-BA0F12783B51}">
                    <File Id="fil9cJnaNzurQNbq2UYzxAKTsqgRc8" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.Extensions.DependencyInjection.dll" />
                </Component>
                <Component Id="cmpCMGyk6cuM1Fa.r7HygS_nHm0haU" Guid="{EE96A278-C8DF-4315-812A-57FFCDEE20E9}">
                    <File Id="filGxpIk7kVElbe9tV2rM23Od2rlMI" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.Xaml.Behaviors.dll" />
                </Component>
                <Component Id="cmpr7yJ11NeAJFnhycNWfuGfswmhuk" Guid="{395D3485-69AC-4341-A579-FF145420AD35}">
                    <File Id="filEXSO7nDCW7vDDAypY9I.vurYR7A" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Newtonsoft.Json.dll" />
                </Component>
                <Component Id="cmpUgZM.GruUNhj_f.VW41RB5VQ6Dc" Guid="{195E9C43-DAEA-4636-8B22-3A4FEAF70D1E}">
                    <File Id="filikivfbCed4wbE01JGbtHf4isAoI" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Ookii.Dialogs.Wpf.dll" />
                </Component>
                <Component Id="cmpbCnbEzfz6x.k1QwVODi_NvnURbs" Guid="{E3EFCD34-EC4F-443F-8D7D-4F3813AFAEBA}">
                    <File Id="fil_7if9rvmQ74xz4ub1O5pUNLvAwc" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.App.WPF.pdb" />
                </Component>
                <Component Id="cmpZsDKwJPhHLdTEqgNZrdpcddDvZc" Guid="{14A127D7-1055-431A-A1C2-4A3BF71B9B49}">
                    <File Id="filMcd_wKlsy3nS_VKG7vMieh0NBro" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.dll" />
                </Component>
                <Component Id="cmppN79cNWmdoe9svQXszvyURaVG8U" Guid="{6C81018C-B230-4625-970B-84CB4B480BC3}">
                    <File Id="fil8EI8NkDupHGRazcV2dx6NTov5Lo" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Interfaces.dll" />
                </Component>
                <Component Id="cmpjwQEKti5i0hubIiPFWe5g0_gjdY" Guid="{1791EBB5-E1BC-4BD4-A0D7-7C6285FBC14F}">
                    <File Id="filBvMnpzIXFgv6FWwhMxhbwQiXTk8" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Interfaces.pdb" />
                </Component>
                <Component Id="cmpq8Pq.Vm4MMCvkd_6MoVrL2wpZHk" Guid="{393893A9-7259-4746-8256-B0D85B420A7A}">
                    <File Id="filIVrScc610GzR9eBJm8S3b7wjRLQ" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Interfaces.xml" />
                </Component>
                <Component Id="cmpMMlcpLmrIKRKm32jJeNR1H2RX3Y" Guid="{583BAD72-F9BA-4938-9BA7-F7AB856F5912}">
                    <File Id="fil5k4mND11YU3bhn.cmqi76IRlTtY" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Models.dll" />
                </Component>
                <Component Id="cmpjI5cJaRsiYHVHzVrkfOwYtcpGOg" Guid="{0CF7D504-7BEE-40BA-AEA6-48804B86166D}">
                    <File Id="filWyWEMxXoXTQ0ZKmiG6j4UbtekN0" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Models.pdb" />
                </Component>
                <Component Id="cmpKA3f6mkU0wnYnOmvyEM4J7GNGdc" Guid="{0FF932E1-861C-45DA-A7BC-5EF6C5ED1073}">
                    <File Id="fil_WSTOD7ghl2eOhu06qVOwQIqrwU" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Models.xml" />
                </Component>
                <Component Id="cmpvWm3IMoVXVXlKCv1Y4zYgq1U_3Y" Guid="{45B1CDF8-814B-4841-80D1-28AF016E3AB1}">
                    <File Id="filpHtxp52sF92eq7JaQrVFifPnlIo" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.pdb" />
                </Component>
                <Component Id="cmpB_Gx_SinMoDsOzsgeiEvFqEF.k8" Guid="{04797B5C-60A0-4E1D-B207-B8ED16D7E519}">
                    <File Id="fil7pBwRlfgpnpuZWY20DT8I1HCy2s" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Utils.dll" />
                </Component>
                <Component Id="cmpjlmlIKGeGq86HE2329.kEotx3kA" Guid="{FA893B4F-1165-4771-AC21-2659D21E582D}">
                    <File Id="filz9PNR38eaNZwx3ee6nUwIouIYcE" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Utils.pdb" />
                </Component>
                <Component Id="cmpNMPP8D8914YVwpSPT1VV7yFcKfE" Guid="{3DFBF0D5-49EA-4295-9EFF-9F0F04E75EB6}">
                    <File Id="filCgZeIv9H.6QP3Mmn_96g75bO0x0" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Utils.xml" />
                </Component>
                <Component Id="cmpOIZKPUqZJkQtmIcSQl2xJDTr.pA" Guid="{C6AC60BE-2A95-4C76-ABD9-A8FFDB06B896}">
                    <File Id="filS.8xcJtFZjyY676HNvrGYYqiWeE" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.xml" />
                </Component>
                <Component Id="cmpir87lYjO6bRxezEOdUl5mM0KNFg" Guid="{31C94913-8976-4A9C-9626-F85E4F42AC29}">
                    <File Id="filZD48ZcUVrDDtBgPcN4OxXJTUkSs" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.WPF.dll" />
                </Component>
                <Component Id="cmpSAE.v_lE_V97jwgjGm4iixutvrE" Guid="{6631D7FB-5F37-48B0-A011-90E20A126C64}">
                    <File Id="fil19HxE5qXg0T7uuq2vrmXofFE0vM" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.WPF.pdb" />
                </Component>
                <Component Id="cmpkUcXKeDNTEtxDRi7ufyMYI6rhZk" Guid="{5BDFF254-A372-4C49-B0E4-9CF7FFF41AE1}">
                    <File Id="filylIQk6JFC3wSw.nBM5C2jzs8esE" KeyPath="yes" Source="$(var.BasePath)\Assemblies\System.IO.FileSystem.Watcher.dll" />
                </Component>
                <Component Id="cmphd1wYH18HgcrwcgM.yn95ziTilI" Guid="{CCDDF4D8-BE4C-4ED6-B8AD-2CD6134D5970}">
                    <File Id="fil9Jj1ITschyHH6H0829rDLhI7h9U" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Westwind.Scripting.dll" />
                </Component>
            </Directory>
            <Directory Id="dirLY7M72oAxdEthNwms2DynWzkJUg" Name="FFDec">
                <Component Id="cmpgzTT232Q52zGmghbZjU9TCBYODU" Guid="{774EE6D6-60BE-4413-88DD-508B8D0BAEE1}">
                    <File Id="filcUvO.YXGJzlu1mCMXpm9d9RlbOY" KeyPath="yes" Source="$(var.BasePath)\FFDec\ffdec.bat" />
                </Component>
                <Component Id="cmpW61I7dLIB0FX59I4zYZsCoxxH4c" Guid="{EE437D70-BFDF-4FC1-9F68-30BC4AB75F7B}">
                    <File Id="filzTDC6kUGNAz46Wu0xysKeIYMIR8" KeyPath="yes" Source="$(var.BasePath)\FFDec\ffdec.jar" />
                </Component>
                <Directory Id="dirsiUHuPUDRIChrXcta5.PSX.3thU" Name="lib">
                    <Component Id="cmpp.ehpjfePsG.djgYNTagYFm4S60" Guid="{076BB3F3-2D00-4E48-AE00-38436AC73DF6}">
                        <File Id="filRQBVvgnXuomhDCRwpIr1u40UUow" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\avi.jar" />
                    </Component>
                    <Component Id="cmp5YinyJaCP.aYkL4lsomf0_Jo0dc" Guid="{554F8BBE-39BA-4AAC-BB09-8A13E7D7C6B5}">
                        <File Id="filGlMFCPl6TqUxN4_05pnHT72qcTQ" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\avi.montemedia.license.txt" />
                    </Component>
                    <Component Id="cmpk7CUUw8FulaEpEglSdx.YtUQYc8" Guid="{43E8F697-8C6B-4FAF-AEDA-557D64A7BB20}">
                        <File Id="filMKj.cx7kUF5DaMt4I1vpFVQIpFA" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\cmykjpeg.jar" />
                    </Component>
                    <Component Id="cmpdW513xVr9_JIBXqVMEcb1KSihYk" Guid="{5D7626BC-CFCC-4914-8E51-132EE941D89A}">
                        <File Id="fildOHZNEFLxlXIe9jdycfRzWLWIy0" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ddsreader.jar" />
                    </Component>
                    <Component Id="cmprMJwWQ3SHV4HLVt99EH4TKFtQWg" Guid="{614E61A2-DA7B-45A8-A56E-A6240018DBDD}">
                        <File Id="filGK.XMcLxy6xZb1L1Bb2QQx2ZzzI" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ffdec_lib.jar" />
                    </Component>
                    <Component Id="cmpl8Oxd0q3uSxkPd8hdc7Q4wMk9oU" Guid="{7836784F-1137-481E-BDCB-9C04E09CD0BC}">
                        <File Id="filOfpmZefI8FXge6AQJITPhHIXJlA" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ffdec_lib.license.txt" />
                    </Component>
                    <Component Id="cmpzx2fBZci1yPUqpyzGvtlQwSxYVo" Guid="{6F30ADDE-DF47-4576-8A13-01A2E7B03D5B}">
                        <File Id="fil81mS5Xh37zHT.Jyy4IGTA1H9yL8" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\flamingo-6.2.jar" />
                    </Component>
                    <Component Id="cmpQewNmJncYyKlBroFTt9VsEEOkII" Guid="{6EF1CE0C-F3C3-4C09-9003-185980B2FB68}">
                        <File Id="filwe6YjWkUXmyF71013Egv320PaUw" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\flamingo.license.txt" />
                    </Component>
                    <Component Id="cmpkLO9mZyF40JYADYMnRspu0BnR.4" Guid="{E04BD687-B3F8-4EE1-99D0-6C4BB1A2484A}">
                        <File Id="fil_e6ule.2YehaVMFdZa29j_Zsnh4" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\flashdebugger.jar" />
                    </Component>
                    <Component Id="cmpgjVGDo6k.uUj5BIE6hcF2ctyxwE" Guid="{92519AA5-250E-49FA-AE87-E5E74E3DF1AC}">
                        <File Id="filMTAX0GyHrdg5KzrbFwz4bBAgF5A" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\gif.jar" />
                    </Component>
                    <Component Id="cmpfGuUA2vGjMsfYh8kS1G_0_olI54" Guid="{EA189BF3-2D93-4458-BD27-1C9B17F26186}">
                        <File Id="filP1Bylu7.lq0xyNtR2S8rZHwpvI8" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\gif.license.txt" />
                    </Component>
                    <Component Id="cmprRTlvS3Jl7x1O7sZ6u2wmdAdGZQ" Guid="{C89A68F6-AF4D-45D4-9241-F4FACF4A15FE}">
                        <File Id="filuYkstT0SzOZpJxsu_br768DOSN0" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\gnujpdf.jar" />
                    </Component>
                    <Component Id="cmpMHHAQ4ntT4Gv1cSGVYcqNgJoAlk" Guid="{EA988E20-FD75-44F3-9AAA-C7220F66B23B}">
                        <File Id="filMb8Gapq.4WS16sTbd9caNLTnLO8" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\graphs.jar" />
                    </Component>
                    <Component Id="cmpMhMsid5395FXSJKw73zqlMzUv_4" Guid="{C2338B7B-DA19-42DB-AAF2-B74E7F7BCB24}">
                        <File Id="fil7gFCOlCO8QsDpDphHAoo3jvoH9E" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jargs.jar" />
                    </Component>
                    <Component Id="cmpfjx8DnPRViuoI2viIq1DjLs5eNw" Guid="{4A0D731F-33A1-4197-9C80-364BEF0FEA7E}">
                        <File Id="fil1PuE_hL0ZfynQwsFOtz1XKcMDHg" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\JavactiveX.jar" />
                    </Component>
                    <Component Id="cmpSKT2A8s0lOxYc44grQCBBDrCB4o" Guid="{63F47313-73F3-4F78-887D-A67DEA65412B}">
                        <File Id="fil_IHS6XySH88DRasnCv1kDR526.o" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jl.license.txt" />
                    </Component>
                    <Component Id="cmpXng2mZYWQ0rCxZzUrQVbvWJUH6M" Guid="{41A00039-090A-4650-B1EA-08D9D4CD52C9}">
                        <File Id="filG.ulVrMvP1fMdY6KsTVj2zElye4" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jl1.0.1.jar" />
                    </Component>
                    <Component Id="cmpreO5wElVRl9haN.9hdEXDE2bxPI" Guid="{5B1D8B9D-DFEC-4FBB-8E6D-56DD10F21BCC}">
                        <File Id="filzdN7gdG7vM4gBxksefv1mhqhK_A" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jna-3.5.1.jar" />
                    </Component>
                    <Component Id="cmp4nm8Ry9I07cIRpOeJdLGWj7EmAw" Guid="{352464C2-E2E1-4D87-A782-D7FB95A22712}">
                        <File Id="fil5B4u88FieNOQWZ1D9bd2TMtdY6k" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jna.license.txt" />
                    </Component>
                    <Component Id="cmpIR1gcAa.3VC1qRTgCwhOmgaXsSM" Guid="{44CDB437-C7BC-424C-A82D-D0E38D0782D0}">
                        <File Id="filAT7Q6P4a4OdssRrPnNpre5Vk3BA" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jpacker.jar" />
                    </Component>
                    <Component Id="cmpeYdhlCJ1bBnZcsEaIbtpPtkiBVo" Guid="{5F3E26A8-E0DF-4945-B7E2-9225B50CAF67}">
                        <File Id="filoS0LjO1q6viMba4Lvnx33c_j1Wk" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jpacker.license.txt" />
                    </Component>
                    <Component Id="cmp_uLGgbRwLaGklgqGVH24QXobXaU" Guid="{70D0AD74-320A-474B-AD0F-02FC20420E4B}">
                        <File Id="fil8Gr2FsdN3DuC8KAo9JMhWqPxEng" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jpproxy.jar" />
                    </Component>
                    <Component Id="cmpI8.e_gEWCIGLbSA_KX8CASmI54c" Guid="{43873B17-C2E8-4002-A8AA-82EB80506FAD}">
                        <File Id="filscCI8pfDQXp_XYvGflLMgXaasSo" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jpproxy.muffin.license.txt" />
                    </Component>
                    <Component Id="cmpk34fWYBOvQBkKARk9TMePiYXzk4" Guid="{4BE701BB-C615-4BCF-AB32-F119D0BEF333}">
                        <File Id="filgMMRYEYvMksUWjp31MFmuqOwzsE" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jsyntaxpane-0.9.5.jar" />
                    </Component>
                    <Component Id="cmpTHFvmggxeLUd74bosHyun0y42A0" Guid="{ABC6069E-F326-4529-A62D-C6675D08F9F6}">
                        <File Id="filgVVg9drrkoujZ0lZ_DUU5QI3VVg" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jsyntaxpane.license.txt" />
                    </Component>
                    <Component Id="cmp.QOEH2XZxbTwcwZp8pJDUCzG.Yc" Guid="{74B2BA99-BAB6-40E2-84EB-CFF92262FC4A}">
                        <File Id="fil44v78XsMitaYUoBAF5Yq5Z.FCKA" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\LZMA.jar" />
                    </Component>
                    <Component Id="cmpA2I1JA4g8lbdxXaQoBsKVq0FlyA" Guid="{B460E461-7679-4BC1-8F6B-2B0C2ED330AC}">
                        <File Id="fil892Pcoro6OasEhWEd_5bHtomwsU" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\minimal-json-0.9.5.jar" />
                    </Component>
                    <Component Id="cmpSTKUWxf8X0UozoKirr_fyKqIKRM" Guid="{F51FC90E-F083-4005-B28C-8CDD264BA141}">
                        <File Id="filB5O99gsFh7n9_q0MB2aAzAexe1g" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\minimal-json.license.txt" />
                    </Component>
                    <Component Id="cmpx4ftLfI98fGQJbLh3LGc65Ns6u8" Guid="{DF1240F6-8736-43F1-ABDD-B644D391695A}">
                        <File Id="filEmVqBoEs2KlIMtbZQ9mLtMtoVJI" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\nellymoser.jar" />
                    </Component>
                    <Component Id="cmpk1oP1FOUk4YK6zxby7wD9ky9aDo" Guid="{B38E5838-EF01-47A4-8CA6-6AAA9257E6A9}">
                        <File Id="filpLSOyTgEhOoTYcDyTeQ30FOk.iw" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\nellymoser.license.txt" />
                    </Component>
                    <Component Id="cmpdtMhAH.R2YW29wRGSUyHfhhX47U" Guid="{A62D7949-62A5-4DB3-8B7A-CAF04E446230}">
                        <File Id="filRnmr7jM54UHTKaolx_m_usF9eW8" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\sfntly.jar" />
                    </Component>
                    <Component Id="cmpRVlNpsBkFZc88QFC8RzshZUiGXQ" Guid="{0BD77BF5-09BE-47D0-A994-83722B0CEB5D}">
                        <File Id="filgzZMqco2IuuZdx5SMiw7mx9WSvM" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\sfntly.license.txt" />
                    </Component>
                    <Component Id="cmpJFAaDAFZKvvNmxCLAD0D1ZVxLlM" Guid="{70157ECC-C176-4C79-919F-DCF3292FF9AC}">
                        <File Id="filgkSex4hHeqKy8yQO.VGLbES7Qtg" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\substance-6.2.jar" />
                    </Component>
                    <Component Id="cmp_1hsazVz2twEkgZt0KEzKFMtTec" Guid="{A1CFACEB-8CCF-4AE8-8321-E8AAF6EDA7AD}">
                        <File Id="filoWph6_I7JzK8tUCsQS_h2VADV.w" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\substance-flamingo-6.2.jar" />
                    </Component>
                    <Component Id="cmpcns8.PpZdvL8VvkDcP_klnIk5lU" Guid="{915863B8-D72E-41A7-B852-CEF3B82CE810}">
                        <File Id="filpCSh063Tp9FUigiaUs3TOSoPiWA" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\substance-flamingo.license.txt" />
                    </Component>
                    <Component Id="cmpxIszz6BxL4noS2EgaTgLTtYg8C8" Guid="{97494749-5CAB-439F-B78C-EE00344F66F5}">
                        <File Id="filtZMRcv8ZhCBYKk82pWyeov1y.1c" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\substance.license.txt" />
                    </Component>
                    <Component Id="cmp2VtU3z4rhmTOkIY8jZKz9J1em.8" Guid="{41B42CE4-933A-41DA-9A5F-9CAE0AA54368}">
                        <File Id="filcpyhFML3u4ofTlRJ1sOLkr9uvYg" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\tablelayout.jar" />
                    </Component>
                    <Component Id="cmpqU2XDeo4M7g1sCVK_Z3dquv8wos" Guid="{6DED8DA0-8BB8-4D54-99D3-93362F71986D}">
                        <File Id="fil2M8Q_ZUtmPj62PdXp_O0DBHCRUg" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\treetable.jar" />
                    </Component>
                    <Component Id="cmpQmAZ_6o7u70fRySmsOsMl3QSen8" Guid="{9680EF0A-46AA-49CC-BAE0-8750D6534922}">
                        <File Id="filpcvEkDNdxChOhls3xrBf2jyDtVo" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\trident-6.2.jar" />
                    </Component>
                    <Component Id="cmpGbjewESon5ScOIYreJcODqtzrf8" Guid="{9AB58079-8638-4E19-884D-B90EC21E3D5F}">
                        <File Id="filQZjqZIHSJq8GNf66AsE5DT.gt_w" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\trident.license.txt" />
                    </Component>
                    <Component Id="cmpEFXf22C9zzrSPnlnLshVCHUOy3w" Guid="{C596D503-38E9-443C-88DB-A858F70C1CD8}">
                        <File Id="fildOVuR.FkKlJXrQeP1neosahHbbU" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ttf.doubletype.license.txt" />
                    </Component>
                    <Component Id="cmpfT3DSY8s394d_lLei6Dae7uiVzI" Guid="{15FAA467-A410-4D7B-8568-39736E261282}">
                        <File Id="filBXxqHaFzPpQqalipUsoGF_.uOzY" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ttf.fontastic.license.txt" />
                    </Component>
                    <Component Id="cmpjkk10WRv4giDJTfYvX_I.5P6z58" Guid="{65620361-92F7-4C43-8AFE-3A8589201A0C}">
                        <File Id="filDb7M5evVNU8Qr_RUuLRkE0aWNG8" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ttf.jar" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SkuaPublishedComponents">
            <ComponentRef Id="cmp1jNFW3f4TC5ZydoNMn2KRSYzrcQ" />
            <ComponentRef Id="cmpDSGGeDFo2AsbSrbqFJnkvQ2ahLM" />
            <ComponentRef Id="cmp5m.3X3VqzNgomGbOVaBnSYseOnQ" />
            <ComponentRef Id="cmpCDl9csrOFOqqrs8i0gy0AiafQVM" />
            <ComponentRef Id="cmpxuW2g8iq1IOgEZCaQZ41FWeDWRY" />
            <ComponentRef Id="cmp16IgY9t_fazmSPUoQ1CRWC.rJPU" />
            <ComponentRef Id="cmpPFYKxBnOblQarjebLOCsFXjRCDE" />
            <ComponentRef Id="cmp8hsp9SEV0wB7Ig3B4bPq.S8R6II" />
            <ComponentRef Id="cmpmSSw8f0QP6BTtDsttmf3.5qtlg8" />
            <ComponentRef Id="cmpBTF1QW_ZZrRWEO1zA11EyTQIu_A" />
            <ComponentRef Id="cmp76NgR1ug5r_dWRvSGvqCA2TRe0I" />
            <ComponentRef Id="cmpv1hRnTuIyEw8HTLR.TOmcv6RcHk" />
            <ComponentRef Id="cmpeyEdtaRR0DJwykzBAf7.88L7MFc" />
            <ComponentRef Id="cmpxjDK3X.F5CGQ4g.FHn37U1Wq1cE" />
            <ComponentRef Id="cmpqAJ_uP7nhj_ifyrHNxsjBNj.hUY" />
            <ComponentRef Id="cmpg9xqCg_X_Ye_2ppUmSVvugcrrQI" />
            <ComponentRef Id="cmpTFRuT2tca4GI3pybuRiHv1s4lCI" />
            <ComponentRef Id="cmpAalQni6rKhKfftMQpwteB4Q43bE" />
            <ComponentRef Id="cmpYUsAQD5_H4lkZaOFihdt1lq8tJA" />
            <ComponentRef Id="cmpapyxUwF5dGOyWg78m8WDqyfk4lM" />
            <ComponentRef Id="cmp90cGoq76VXAUDWy0_drsw8J4OFI" />
            <ComponentRef Id="cmpo6sOvF.6gNCyka0_kfH5DbLcAF0" />
            <ComponentRef Id="cmp34f515Kgos6k.4W9mKFZRz1XtkE" />
            <ComponentRef Id="cmpU86PzXQ9SSPdEag9wEQwGrFLWIw" />
            <ComponentRef Id="cmpF7UTkP4.iHa89YUQpDP4r92gzyM" />
            <ComponentRef Id="cmpEVzVxMzhEICnbbsNam6ZSszhKB4" />
            <ComponentRef Id="cmpa4NLJqlTYp._bXq4TM_MAIjJRBM" />
            <ComponentRef Id="cmp8gYc93fFKeipa4BxL7DMHfwLNcM" />
            <ComponentRef Id="cmpEZ5oVtMB2JU3ySArlAAxkZcwgfY" />
            <ComponentRef Id="cmpMlyimaLaGACmtcStHx0evR0Iq0k" />
            <ComponentRef Id="cmpCMGyk6cuM1Fa.r7HygS_nHm0haU" />
            <ComponentRef Id="cmpr7yJ11NeAJFnhycNWfuGfswmhuk" />
            <ComponentRef Id="cmpUgZM.GruUNhj_f.VW41RB5VQ6Dc" />
            <ComponentRef Id="cmpbCnbEzfz6x.k1QwVODi_NvnURbs" />
            <ComponentRef Id="cmpZsDKwJPhHLdTEqgNZrdpcddDvZc" />
            <ComponentRef Id="cmppN79cNWmdoe9svQXszvyURaVG8U" />
            <ComponentRef Id="cmpjwQEKti5i0hubIiPFWe5g0_gjdY" />
            <ComponentRef Id="cmpq8Pq.Vm4MMCvkd_6MoVrL2wpZHk" />
            <ComponentRef Id="cmpMMlcpLmrIKRKm32jJeNR1H2RX3Y" />
            <ComponentRef Id="cmpjI5cJaRsiYHVHzVrkfOwYtcpGOg" />
            <ComponentRef Id="cmpKA3f6mkU0wnYnOmvyEM4J7GNGdc" />
            <ComponentRef Id="cmpvWm3IMoVXVXlKCv1Y4zYgq1U_3Y" />
            <ComponentRef Id="cmpB_Gx_SinMoDsOzsgeiEvFqEF.k8" />
            <ComponentRef Id="cmpjlmlIKGeGq86HE2329.kEotx3kA" />
            <ComponentRef Id="cmpNMPP8D8914YVwpSPT1VV7yFcKfE" />
            <ComponentRef Id="cmpOIZKPUqZJkQtmIcSQl2xJDTr.pA" />
            <ComponentRef Id="cmpir87lYjO6bRxezEOdUl5mM0KNFg" />
            <ComponentRef Id="cmpSAE.v_lE_V97jwgjGm4iixutvrE" />
            <ComponentRef Id="cmpkUcXKeDNTEtxDRi7ufyMYI6rhZk" />
            <ComponentRef Id="cmphd1wYH18HgcrwcgM.yn95ziTilI" />
            <ComponentRef Id="cmpgzTT232Q52zGmghbZjU9TCBYODU" />
            <ComponentRef Id="cmpW61I7dLIB0FX59I4zYZsCoxxH4c" />
            <ComponentRef Id="cmpp.ehpjfePsG.djgYNTagYFm4S60" />
            <ComponentRef Id="cmp5YinyJaCP.aYkL4lsomf0_Jo0dc" />
            <ComponentRef Id="cmpk7CUUw8FulaEpEglSdx.YtUQYc8" />
            <ComponentRef Id="cmpdW513xVr9_JIBXqVMEcb1KSihYk" />
            <ComponentRef Id="cmprMJwWQ3SHV4HLVt99EH4TKFtQWg" />
            <ComponentRef Id="cmpl8Oxd0q3uSxkPd8hdc7Q4wMk9oU" />
            <ComponentRef Id="cmpzx2fBZci1yPUqpyzGvtlQwSxYVo" />
            <ComponentRef Id="cmpQewNmJncYyKlBroFTt9VsEEOkII" />
            <ComponentRef Id="cmpkLO9mZyF40JYADYMnRspu0BnR.4" />
            <ComponentRef Id="cmpgjVGDo6k.uUj5BIE6hcF2ctyxwE" />
            <ComponentRef Id="cmpfGuUA2vGjMsfYh8kS1G_0_olI54" />
            <ComponentRef Id="cmprRTlvS3Jl7x1O7sZ6u2wmdAdGZQ" />
            <ComponentRef Id="cmpMHHAQ4ntT4Gv1cSGVYcqNgJoAlk" />
            <ComponentRef Id="cmpMhMsid5395FXSJKw73zqlMzUv_4" />
            <ComponentRef Id="cmpfjx8DnPRViuoI2viIq1DjLs5eNw" />
            <ComponentRef Id="cmpSKT2A8s0lOxYc44grQCBBDrCB4o" />
            <ComponentRef Id="cmpXng2mZYWQ0rCxZzUrQVbvWJUH6M" />
            <ComponentRef Id="cmpreO5wElVRl9haN.9hdEXDE2bxPI" />
            <ComponentRef Id="cmp4nm8Ry9I07cIRpOeJdLGWj7EmAw" />
            <ComponentRef Id="cmpIR1gcAa.3VC1qRTgCwhOmgaXsSM" />
            <ComponentRef Id="cmpeYdhlCJ1bBnZcsEaIbtpPtkiBVo" />
            <ComponentRef Id="cmp_uLGgbRwLaGklgqGVH24QXobXaU" />
            <ComponentRef Id="cmpI8.e_gEWCIGLbSA_KX8CASmI54c" />
            <ComponentRef Id="cmpk34fWYBOvQBkKARk9TMePiYXzk4" />
            <ComponentRef Id="cmpTHFvmggxeLUd74bosHyun0y42A0" />
            <ComponentRef Id="cmp.QOEH2XZxbTwcwZp8pJDUCzG.Yc" />
            <ComponentRef Id="cmpA2I1JA4g8lbdxXaQoBsKVq0FlyA" />
            <ComponentRef Id="cmpSTKUWxf8X0UozoKirr_fyKqIKRM" />
            <ComponentRef Id="cmpx4ftLfI98fGQJbLh3LGc65Ns6u8" />
            <ComponentRef Id="cmpk1oP1FOUk4YK6zxby7wD9ky9aDo" />
            <ComponentRef Id="cmpdtMhAH.R2YW29wRGSUyHfhhX47U" />
            <ComponentRef Id="cmpRVlNpsBkFZc88QFC8RzshZUiGXQ" />
            <ComponentRef Id="cmpJFAaDAFZKvvNmxCLAD0D1ZVxLlM" />
            <ComponentRef Id="cmp_1hsazVz2twEkgZt0KEzKFMtTec" />
            <ComponentRef Id="cmpcns8.PpZdvL8VvkDcP_klnIk5lU" />
            <ComponentRef Id="cmpxIszz6BxL4noS2EgaTgLTtYg8C8" />
            <ComponentRef Id="cmp2VtU3z4rhmTOkIY8jZKz9J1em.8" />
            <ComponentRef Id="cmpqU2XDeo4M7g1sCVK_Z3dquv8wos" />
            <ComponentRef Id="cmpQmAZ_6o7u70fRySmsOsMl3QSen8" />
            <ComponentRef Id="cmpGbjewESon5ScOIYreJcODqtzrf8" />
            <ComponentRef Id="cmpEFXf22C9zzrSPnlnLshVCHUOy3w" />
            <ComponentRef Id="cmpfT3DSY8s394d_lLei6Dae7uiVzI" />
            <ComponentRef Id="cmpjkk10WRv4giDJTfYvX_I.5P6z58" />
        </ComponentGroup>
    </Fragment>
</Wix>