<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Component Id="cmp1jNFW3f4TC5ZydoNMn2KRSYzrcQ" Guid="{55735465-C66E-4B35-B24B-DD42D5B75F8E}">
                <File Id="fil9lxhGDqGZ2ei4Lso0B08j89vPLk" KeyPath="yes" Source="$(var.BasePath)\AdvancedSkills.txt" />
            </Component>
            <Component Id="cmpDSGGeDFo2AsbSrbqFJnkvQ2ahLM" Guid="{2D795636-3D1D-4BC9-BB0F-53FD148B067F}">
                <File Id="filTnqir8plLW_W3SdHyVySGbNLCeI" KeyPath="yes" Source="$(var.BasePath)\Quests.txt" />
            </Component>
            <Component Id="cmp5m.3X3VqzNgomGbOVaBnSYseOnQ" Guid="{DF366467-6007-4813-81D2-2021E6613FD7}">
                <File Id="filRzok6775iaZ1jTUfDQqSBWCmhPA" KeyPath="yes" Source="$(var.BasePath)\Skua.App.WPF.deps.json" />
            </Component>
            <Component Id="cmpCDl9csrOFOqqrs8i0gy0AiafQVM" Guid="{F97497BF-B04F-434E-AC16-8DE116945225}">
                <File Id="filnHs5TVAauZTjj2yqa1MxrgsMWCQ" KeyPath="yes" Source="$(var.BasePath)\Skua.App.WPF.dll" />
            </Component>
            <Component Id="cmpxuW2g8iq1IOgEZCaQZ41FWeDWRY" Guid="{141DB5B4-86A3-40FA-93EA-AE33054B1471}">
                <File Id="filC84K3TJW9jL9OXtKAw9gXsxER9E" KeyPath="yes" Source="$(var.BasePath)\Skua.App.WPF.runtimeconfig.json" />
            </Component>
            <Component Id="cmp16IgY9t_fazmSPUoQ1CRWC.rJPU" Guid="{5E040034-1B0F-4A2D-8FA0-E9534DC4CF6C}">
                <File Id="filQo_S0vwWXTaJurTerecEMWaDKME" KeyPath="yes" Source="$(var.BasePath)\Skua.exe" />
            </Component>
            <Component Id="cmpPFYKxBnOblQarjebLOCsFXjRCDE" Guid="{86B1A70C-F6E7-4616-B983-AD12133F3A08}">
                <File Id="filC.ucx43Epira1hcBvxydlFtC8P0" KeyPath="yes" Source="$(var.BasePath)\Skua.Manager.dll" />
            </Component>
            <Component Id="cmp8hsp9SEV0wB7Ig3B4bPq.S8R6II" Guid="{72644FB2-F807-4242-85FF-674CD393A366}">
                <File Id="filIIz.9dUBgJFNFX1fYfvbYLt.v08" KeyPath="yes" Source="$(var.BasePath)\Skua.Manager.exe" />
            </Component>
            <Component Id="cmpmSSw8f0QP6BTtDsttmf3.5qtlg8" Guid="{43CFB930-FE2E-4F58-9199-6F2F817E36BB}">
                <File Id="fil_y0VKAaIrKKptgmbJ2wHea3yn2M" KeyPath="yes" Source="$(var.BasePath)\Skua.Manager.runtimeconfig.json" />
            </Component>
            <Component Id="cmpBTF1QW_ZZrRWEO1zA11EyTQIu_A" Guid="{067E2DD1-B77D-4358-B49C-D97666A66722}">
                <File Id="filJzCg23Gu5._9kFkBug0_lXDv5y4" KeyPath="yes" Source="$(var.BasePath)\skua.swf" />
            </Component>
            <Directory Id="dirOit0dm4bCDatToFS3HRsSegabCM" Name="Assemblies">
                <Component Id="cmp76NgR1ug5r_dWRvSGvqCA2TRe0I" Guid="{DFBAE526-3CFF-42A5-A867-90545D93D230}">
                    <File Id="fili_kBzYaHfhgJ.IE24xhhq4gc9k8" KeyPath="yes" Source="$(var.BasePath)\Assemblies\AxInterop.ShockwaveFlashObjects.dll" />
                </Component>
                <Component Id="cmpv1hRnTuIyEw8HTLR.TOmcv6RcHk" Guid="{1F8E31D6-1F01-4368-8BB8-2B1462E9EDF8}">
                    <File Id="filRgwU5CPEoWCTOWWQPmnHMPACXW4" KeyPath="yes" Source="$(var.BasePath)\Assemblies\CommandLine.dll" />
                </Component>
                <Component Id="cmpeyEdtaRR0DJwykzBAf7.88L7MFc" Guid="{49376811-A898-4FBD-83C0-C064F2498084}">
                    <File Id="filpF0K3gHLP1JNwE7JHlqMVWd8a8E" KeyPath="yes" Source="$(var.BasePath)\Assemblies\CommunityToolkit.Mvvm.dll" />
                </Component>
                <Component Id="cmpxjDK3X.F5CGQ4g.FHn37U1Wq1cE" Guid="{E7D7A15B-B869-4C07-8493-DF70D3FA9A57}">
                    <File Id="filtICz0x.xYGYKIFzVYmn4zSmkJX4" KeyPath="yes" Source="$(var.BasePath)\Assemblies\CoreHook.dll" />
                </Component>
                <Component Id="cmpqAJ_uP7nhj_ifyrHNxsjBNj.hUY" Guid="{389A4010-F900-419D-8096-54E3D004DE2F}">
                    <File Id="fil.E6MUxBrc8nBw0lXeQnnelWzp1A" KeyPath="yes" Source="$(var.BasePath)\Assemblies\corehook32.dll" />
                </Component>
                <Component Id="cmpg9xqCg_X_Ye_2ppUmSVvugcrrQI" Guid="{B3059AA0-D3A2-44E0-8208-AAF34E6CF45D}">
                    <File Id="filEoTHntTOc91Ng9JEsHhfPHXxTJs" KeyPath="yes" Source="$(var.BasePath)\Assemblies\corehook64.dll" />
                </Component>
                <Component Id="cmpTFRuT2tca4GI3pybuRiHv1s4lCI" Guid="{BD699423-F432-4A42-88FD-78A3F188F085}">
                    <File Id="filxliFBzrLdwcDqp3XZ0PoPezdRY8" KeyPath="yes" Source="$(var.BasePath)\Assemblies\coreload32.dll" />
                </Component>
                <Component Id="cmpAalQni6rKhKfftMQpwteB4Q43bE" Guid="{AFDA6FC1-95F3-4B17-93AF-31EE3B379D2B}">
                    <File Id="filb6cHnfPx463ND44f5XW_pM23WqM" KeyPath="yes" Source="$(var.BasePath)\Assemblies\coreload64.dll" />
                </Component>
                <Component Id="cmpYUsAQD5_H4lkZaOFihdt1lq8tJA" Guid="{1877D450-5C1D-4536-9E4E-5ACF5DEC4ED5}">
                    <File Id="filmQEfjv69Ue0XqJHG_Ib5bFc048c" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Hardcodet.NotifyIcon.Wpf.dll" />
                </Component>
                <Component Id="cmpapyxUwF5dGOyWg78m8WDqyfk4lM" Guid="{7A93A959-086B-45A9-A277-3B3E53263F31}">
                    <File Id="filfgte.n1u_ZB.lS4OLQoRF6EJY3g" KeyPath="yes" Source="$(var.BasePath)\Assemblies\ICSharpCode.AvalonEdit.dll" />
                </Component>
                <Component Id="cmp90cGoq76VXAUDWy0_drsw8J4OFI" Guid="{62950008-ACC3-4E20-9244-E028405FEEA3}">
                    <File Id="fila6ANyFloZGdMinaGF79fRA5L2uw" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Interop.ShockwaveFlashObjects.dll" />
                </Component>
                <Component Id="cmpo6sOvF.6gNCyka0_kfH5DbLcAF0" Guid="{46128194-688B-4A9B-8249-6EFBCD5D49D1}">
                    <File Id="filJRkx1As1dx7P_baZFpQblYR4mho" KeyPath="yes" Source="$(var.BasePath)\Assemblies\MaterialDesignColors.dll" />
                </Component>
                <Component Id="cmp34f515Kgos6k.4W9mKFZRz1XtkE" Guid="{6D215222-217A-4A76-861B-C277A05B352E}">
                    <File Id="filiBpMBYgnZGredvTI2HU0j4E4XDE" KeyPath="yes" Source="$(var.BasePath)\Assemblies\MaterialDesignThemes.Wpf.dll" />
                </Component>
                <Component Id="cmpU86PzXQ9SSPdEag9wEQwGrFLWIw" Guid="{68DBD167-A20E-47CA-A8BC-15E6C3ED3241}">
                    <File Id="filjXOd6YHbYJXx07Y7mfbX1Nf78NM" KeyPath="yes" Source="$(var.BasePath)\Assemblies\MdXaml.dll" />
                </Component>
                <Component Id="cmpF7UTkP4.iHa89YUQpDP4r92gzyM" Guid="{1360D207-D69A-4346-B69D-6FE08EC3E32D}">
                    <File Id="filGuqWWw.0Lak1mqlkkF_e_Wx9uF0" KeyPath="yes" Source="$(var.BasePath)\Assemblies\MdXaml.Plugins.dll" />
                </Component>
                <Component Id="cmpEVzVxMzhEICnbbsNam6ZSszhKB4" Guid="{1A324C80-12FD-47C9-B5F8-6DCDBA7D6BFE}">
                    <File Id="fil3m9mdTpIaVOlq0_TkEeuS056KKE" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.CodeAnalysis.CSharp.dll" />
                </Component>
                <Component Id="cmpa4NLJqlTYp._bXq4TM_MAIjJRBM" Guid="{5BFB5715-A92A-4AF5-9C8C-AF3E8DFDD852}">
                    <File Id="filfoItlGLxekp_9V25ZAp5Hz5LNxo" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.CodeAnalysis.dll" />
                </Component>
                <Component Id="cmp8gYc93fFKeipa4BxL7DMHfwLNcM" Guid="{6E27C83B-3FAB-444C-9262-486A8124E9AB}">
                    <File Id="filglW.BztdFzkxh3LC.pmoPxFvW5Q" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.CodeAnalysis.Scripting.dll" />
                </Component>
                <Component Id="cmpEZ5oVtMB2JU3ySArlAAxkZcwgfY" Guid="{7AECAD5A-5C6E-448D-8739-EF20A70D5263}">
                    <File Id="fil0kcMqmEBRH6HCBV7AmxiUKvOyPk" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
                </Component>
                <Component Id="cmpMlyimaLaGACmtcStHx0evR0Iq0k" Guid="{E1B5559F-336B-4FF5-A4FB-A6DBE345E0E5}">
                    <File Id="fil9cJnaNzurQNbq2UYzxAKTsqgRc8" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.Extensions.DependencyInjection.dll" />
                </Component>
                <Component Id="cmpCMGyk6cuM1Fa.r7HygS_nHm0haU" Guid="{D7C45EBE-21BD-44BC-B9FF-D22E06802F79}">
                    <File Id="filGxpIk7kVElbe9tV2rM23Od2rlMI" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Microsoft.Xaml.Behaviors.dll" />
                </Component>
                <Component Id="cmpr7yJ11NeAJFnhycNWfuGfswmhuk" Guid="{2413FC79-1B80-4935-8B92-F637CF746543}">
                    <File Id="filEXSO7nDCW7vDDAypY9I.vurYR7A" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Newtonsoft.Json.dll" />
                </Component>
                <Component Id="cmpUgZM.GruUNhj_f.VW41RB5VQ6Dc" Guid="{07EAB430-F6BC-4D75-AF6F-423AACF62B2D}">
                    <File Id="filikivfbCed4wbE01JGbtHf4isAoI" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Ookii.Dialogs.Wpf.dll" />
                </Component>
                <Component Id="cmpbCnbEzfz6x.k1QwVODi_NvnURbs" Guid="{857F55A7-9ACC-42E9-895A-B7E8CE362F0A}">
                    <File Id="fil_7if9rvmQ74xz4ub1O5pUNLvAwc" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.App.WPF.pdb" />
                </Component>
                <Component Id="cmpZsDKwJPhHLdTEqgNZrdpcddDvZc" Guid="{41B976C0-EB7E-4F3D-83E1-6E9B285CA124}">
                    <File Id="filMcd_wKlsy3nS_VKG7vMieh0NBro" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.dll" />
                </Component>
                <Component Id="cmppN79cNWmdoe9svQXszvyURaVG8U" Guid="{E1B51D2E-A9A7-4BAC-A822-4B138CBFDE6C}">
                    <File Id="fil8EI8NkDupHGRazcV2dx6NTov5Lo" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Interfaces.dll" />
                </Component>
                <Component Id="cmpjwQEKti5i0hubIiPFWe5g0_gjdY" Guid="{D211C5FB-1CB7-4874-B280-70C780E2FB49}">
                    <File Id="filBvMnpzIXFgv6FWwhMxhbwQiXTk8" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Interfaces.pdb" />
                </Component>
                <Component Id="cmpq8Pq.Vm4MMCvkd_6MoVrL2wpZHk" Guid="{6576E872-6B40-4FB8-865D-8C3C743BF0B7}">
                    <File Id="filIVrScc610GzR9eBJm8S3b7wjRLQ" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Interfaces.xml" />
                </Component>
                <Component Id="cmpMMlcpLmrIKRKm32jJeNR1H2RX3Y" Guid="{6CEAD2A5-1868-44CA-AAA4-2D1ADADB8A4F}">
                    <File Id="fil5k4mND11YU3bhn.cmqi76IRlTtY" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Models.dll" />
                </Component>
                <Component Id="cmpjI5cJaRsiYHVHzVrkfOwYtcpGOg" Guid="{FB819EB9-9B44-4226-A68F-EAD020AEAE78}">
                    <File Id="filWyWEMxXoXTQ0ZKmiG6j4UbtekN0" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Models.pdb" />
                </Component>
                <Component Id="cmpKA3f6mkU0wnYnOmvyEM4J7GNGdc" Guid="{222E3494-DCE2-4733-B25D-1B76BCDC571C}">
                    <File Id="fil_WSTOD7ghl2eOhu06qVOwQIqrwU" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Models.xml" />
                </Component>
                <Component Id="cmpvWm3IMoVXVXlKCv1Y4zYgq1U_3Y" Guid="{0BDF4486-862B-4438-81DB-A8334F6CFA76}">
                    <File Id="filpHtxp52sF92eq7JaQrVFifPnlIo" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.pdb" />
                </Component>
                <Component Id="cmpB_Gx_SinMoDsOzsgeiEvFqEF.k8" Guid="{5A2E3B78-9097-4523-880B-72E5AFEA59DF}">
                    <File Id="fil7pBwRlfgpnpuZWY20DT8I1HCy2s" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Utils.dll" />
                </Component>
                <Component Id="cmpjlmlIKGeGq86HE2329.kEotx3kA" Guid="{24D4E14E-4E9B-428D-B80E-DB3450E4BFC4}">
                    <File Id="filz9PNR38eaNZwx3ee6nUwIouIYcE" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Utils.pdb" />
                </Component>
                <Component Id="cmpNMPP8D8914YVwpSPT1VV7yFcKfE" Guid="{A63E350E-C157-48D6-A2A9-B0AC720B3FE5}">
                    <File Id="filCgZeIv9H.6QP3Mmn_96g75bO0x0" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.Utils.xml" />
                </Component>
                <Component Id="cmpOIZKPUqZJkQtmIcSQl2xJDTr.pA" Guid="{9CB77BF7-D989-4892-8D53-F268072C1AA7}">
                    <File Id="filS.8xcJtFZjyY676HNvrGYYqiWeE" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.Core.xml" />
                </Component>
                <Component Id="cmpir87lYjO6bRxezEOdUl5mM0KNFg" Guid="{CF88F04B-B5A7-41A0-9D09-66A7F7FBE5DF}">
                    <File Id="filZD48ZcUVrDDtBgPcN4OxXJTUkSs" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.WPF.dll" />
                </Component>
                <Component Id="cmpSAE.v_lE_V97jwgjGm4iixutvrE" Guid="{DE4BA87A-1F40-4ACF-9EAF-2F1E6EA8AFB3}">
                    <File Id="fil19HxE5qXg0T7uuq2vrmXofFE0vM" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Skua.WPF.pdb" />
                </Component>
                <Component Id="cmpkUcXKeDNTEtxDRi7ufyMYI6rhZk" Guid="{941E2D2C-F4D6-4A2D-8D4D-08174727C546}">
                    <File Id="filylIQk6JFC3wSw.nBM5C2jzs8esE" KeyPath="yes" Source="$(var.BasePath)\Assemblies\System.IO.FileSystem.Watcher.dll" />
                </Component>
                <Component Id="cmphd1wYH18HgcrwcgM.yn95ziTilI" Guid="{BB2FA6DF-DA0F-4307-A893-0FEA996DE76C}">
                    <File Id="fil9Jj1ITschyHH6H0829rDLhI7h9U" KeyPath="yes" Source="$(var.BasePath)\Assemblies\Westwind.Scripting.dll" />
                </Component>
            </Directory>
            <Directory Id="dirLY7M72oAxdEthNwms2DynWzkJUg" Name="FFDec">
                <Component Id="cmpgzTT232Q52zGmghbZjU9TCBYODU" Guid="{C77BC9F8-5FF7-449B-9F1D-C408FE8E4DB8}">
                    <File Id="filcUvO.YXGJzlu1mCMXpm9d9RlbOY" KeyPath="yes" Source="$(var.BasePath)\FFDec\ffdec.bat" />
                </Component>
                <Component Id="cmpW61I7dLIB0FX59I4zYZsCoxxH4c" Guid="{ECFBA3D5-F94D-4A4C-99F8-2E2F4D1A83AD}">
                    <File Id="filzTDC6kUGNAz46Wu0xysKeIYMIR8" KeyPath="yes" Source="$(var.BasePath)\FFDec\ffdec.jar" />
                </Component>
                <Directory Id="dirsiUHuPUDRIChrXcta5.PSX.3thU" Name="lib">
                    <Component Id="cmpp.ehpjfePsG.djgYNTagYFm4S60" Guid="{BB1F5643-50D3-4C19-A9F3-44772AD45422}">
                        <File Id="filRQBVvgnXuomhDCRwpIr1u40UUow" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\avi.jar" />
                    </Component>
                    <Component Id="cmp5YinyJaCP.aYkL4lsomf0_Jo0dc" Guid="{79338E8C-7442-401D-82CB-2D2A8485D191}">
                        <File Id="filGlMFCPl6TqUxN4_05pnHT72qcTQ" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\avi.montemedia.license.txt" />
                    </Component>
                    <Component Id="cmpk7CUUw8FulaEpEglSdx.YtUQYc8" Guid="{BC7D8BC9-E87A-45FA-AA38-3D86FBDC0C20}">
                        <File Id="filMKj.cx7kUF5DaMt4I1vpFVQIpFA" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\cmykjpeg.jar" />
                    </Component>
                    <Component Id="cmpdW513xVr9_JIBXqVMEcb1KSihYk" Guid="{F823343B-433A-4A77-9A34-95F07A0803C4}">
                        <File Id="fildOHZNEFLxlXIe9jdycfRzWLWIy0" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ddsreader.jar" />
                    </Component>
                    <Component Id="cmprMJwWQ3SHV4HLVt99EH4TKFtQWg" Guid="{9ECD9CD9-3CC0-4E08-9F68-37525D20346D}">
                        <File Id="filGK.XMcLxy6xZb1L1Bb2QQx2ZzzI" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ffdec_lib.jar" />
                    </Component>
                    <Component Id="cmpl8Oxd0q3uSxkPd8hdc7Q4wMk9oU" Guid="{12707EB0-75DB-450A-9ACC-6C5361104E67}">
                        <File Id="filOfpmZefI8FXge6AQJITPhHIXJlA" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ffdec_lib.license.txt" />
                    </Component>
                    <Component Id="cmpzx2fBZci1yPUqpyzGvtlQwSxYVo" Guid="{C66D6E57-9FF9-4F33-A512-E729A70CB94A}">
                        <File Id="fil81mS5Xh37zHT.Jyy4IGTA1H9yL8" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\flamingo-6.2.jar" />
                    </Component>
                    <Component Id="cmpQewNmJncYyKlBroFTt9VsEEOkII" Guid="{6430F374-9E5F-4532-820B-4CA908648F99}">
                        <File Id="filwe6YjWkUXmyF71013Egv320PaUw" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\flamingo.license.txt" />
                    </Component>
                    <Component Id="cmpkLO9mZyF40JYADYMnRspu0BnR.4" Guid="{6A4D9D84-9F55-497D-9CA8-DB06FDD7F9F6}">
                        <File Id="fil_e6ule.2YehaVMFdZa29j_Zsnh4" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\flashdebugger.jar" />
                    </Component>
                    <Component Id="cmpgjVGDo6k.uUj5BIE6hcF2ctyxwE" Guid="{D7A2A4B0-E2B2-4187-AD2A-05492644BA22}">
                        <File Id="filMTAX0GyHrdg5KzrbFwz4bBAgF5A" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\gif.jar" />
                    </Component>
                    <Component Id="cmpfGuUA2vGjMsfYh8kS1G_0_olI54" Guid="{7B1DCB54-A590-46B5-AD25-BDFD0D701126}">
                        <File Id="filP1Bylu7.lq0xyNtR2S8rZHwpvI8" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\gif.license.txt" />
                    </Component>
                    <Component Id="cmprRTlvS3Jl7x1O7sZ6u2wmdAdGZQ" Guid="{2576F7BD-6B85-45B0-BDDC-8FBF971383FF}">
                        <File Id="filuYkstT0SzOZpJxsu_br768DOSN0" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\gnujpdf.jar" />
                    </Component>
                    <Component Id="cmpMHHAQ4ntT4Gv1cSGVYcqNgJoAlk" Guid="{A8BA4109-F378-4507-ABE6-98BA39699F5D}">
                        <File Id="filMb8Gapq.4WS16sTbd9caNLTnLO8" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\graphs.jar" />
                    </Component>
                    <Component Id="cmpMhMsid5395FXSJKw73zqlMzUv_4" Guid="{E44EC175-B6B9-49D1-9C6A-4F9CAA99FFC1}">
                        <File Id="fil7gFCOlCO8QsDpDphHAoo3jvoH9E" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jargs.jar" />
                    </Component>
                    <Component Id="cmpfjx8DnPRViuoI2viIq1DjLs5eNw" Guid="{1D2AC258-57C3-402B-9889-4A6ED7D9C4A6}">
                        <File Id="fil1PuE_hL0ZfynQwsFOtz1XKcMDHg" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\JavactiveX.jar" />
                    </Component>
                    <Component Id="cmpSKT2A8s0lOxYc44grQCBBDrCB4o" Guid="{81B01E73-BBF4-4BD9-A40D-82A08425578A}">
                        <File Id="fil_IHS6XySH88DRasnCv1kDR526.o" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jl.license.txt" />
                    </Component>
                    <Component Id="cmpXng2mZYWQ0rCxZzUrQVbvWJUH6M" Guid="{F6D48D2E-D0BD-497E-A006-7D9C8DA0F194}">
                        <File Id="filG.ulVrMvP1fMdY6KsTVj2zElye4" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jl1.0.1.jar" />
                    </Component>
                    <Component Id="cmpreO5wElVRl9haN.9hdEXDE2bxPI" Guid="{A4A6DDFA-72C6-4014-8F8F-AD4B16771E63}">
                        <File Id="filzdN7gdG7vM4gBxksefv1mhqhK_A" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jna-3.5.1.jar" />
                    </Component>
                    <Component Id="cmp4nm8Ry9I07cIRpOeJdLGWj7EmAw" Guid="{04267004-DA0E-48BD-86B3-D027FB758208}">
                        <File Id="fil5B4u88FieNOQWZ1D9bd2TMtdY6k" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jna.license.txt" />
                    </Component>
                    <Component Id="cmpIR1gcAa.3VC1qRTgCwhOmgaXsSM" Guid="{B18096F1-C6BC-47AB-A5AB-8C1697225E27}">
                        <File Id="filAT7Q6P4a4OdssRrPnNpre5Vk3BA" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jpacker.jar" />
                    </Component>
                    <Component Id="cmpeYdhlCJ1bBnZcsEaIbtpPtkiBVo" Guid="{0C3BB43B-1948-49DA-8E56-64AA745D266D}">
                        <File Id="filoS0LjO1q6viMba4Lvnx33c_j1Wk" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jpacker.license.txt" />
                    </Component>
                    <Component Id="cmp_uLGgbRwLaGklgqGVH24QXobXaU" Guid="{0148284E-CA9A-4952-8302-AE56803841E4}">
                        <File Id="fil8Gr2FsdN3DuC8KAo9JMhWqPxEng" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jpproxy.jar" />
                    </Component>
                    <Component Id="cmpI8.e_gEWCIGLbSA_KX8CASmI54c" Guid="{6DDFCB68-EAFE-41B3-B802-864FB87BFA4F}">
                        <File Id="filscCI8pfDQXp_XYvGflLMgXaasSo" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jpproxy.muffin.license.txt" />
                    </Component>
                    <Component Id="cmpk34fWYBOvQBkKARk9TMePiYXzk4" Guid="{472EF61C-EF5D-4082-A489-F0FD9A22B8AB}">
                        <File Id="filgMMRYEYvMksUWjp31MFmuqOwzsE" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jsyntaxpane-0.9.5.jar" />
                    </Component>
                    <Component Id="cmpTHFvmggxeLUd74bosHyun0y42A0" Guid="{CBBDA73A-C90A-48FA-9C3B-842226ECE830}">
                        <File Id="filgVVg9drrkoujZ0lZ_DUU5QI3VVg" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\jsyntaxpane.license.txt" />
                    </Component>
                    <Component Id="cmp.QOEH2XZxbTwcwZp8pJDUCzG.Yc" Guid="{1B3C35DA-D521-40EF-9ED7-8A529FC073BE}">
                        <File Id="fil44v78XsMitaYUoBAF5Yq5Z.FCKA" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\LZMA.jar" />
                    </Component>
                    <Component Id="cmpA2I1JA4g8lbdxXaQoBsKVq0FlyA" Guid="{465BF2C0-A2E2-4D77-82B7-1D89883DCC20}">
                        <File Id="fil892Pcoro6OasEhWEd_5bHtomwsU" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\minimal-json-0.9.5.jar" />
                    </Component>
                    <Component Id="cmpSTKUWxf8X0UozoKirr_fyKqIKRM" Guid="{D4D3407F-FD1F-4AE0-89CB-4B67D788A1CB}">
                        <File Id="filB5O99gsFh7n9_q0MB2aAzAexe1g" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\minimal-json.license.txt" />
                    </Component>
                    <Component Id="cmpx4ftLfI98fGQJbLh3LGc65Ns6u8" Guid="{883534BB-07CA-416E-A8CB-CD1315B7FD00}">
                        <File Id="filEmVqBoEs2KlIMtbZQ9mLtMtoVJI" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\nellymoser.jar" />
                    </Component>
                    <Component Id="cmpk1oP1FOUk4YK6zxby7wD9ky9aDo" Guid="{0D206A88-4BB2-4584-A924-B379203074AE}">
                        <File Id="filpLSOyTgEhOoTYcDyTeQ30FOk.iw" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\nellymoser.license.txt" />
                    </Component>
                    <Component Id="cmpdtMhAH.R2YW29wRGSUyHfhhX47U" Guid="{556DF1E5-F19E-4F1D-991A-ADEA2A197EC2}">
                        <File Id="filRnmr7jM54UHTKaolx_m_usF9eW8" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\sfntly.jar" />
                    </Component>
                    <Component Id="cmpRVlNpsBkFZc88QFC8RzshZUiGXQ" Guid="{92DFCE71-10EA-49CA-830F-903BA0817909}">
                        <File Id="filgzZMqco2IuuZdx5SMiw7mx9WSvM" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\sfntly.license.txt" />
                    </Component>
                    <Component Id="cmpJFAaDAFZKvvNmxCLAD0D1ZVxLlM" Guid="{5DE18055-20F4-48CF-BBA3-B5358BA07648}">
                        <File Id="filgkSex4hHeqKy8yQO.VGLbES7Qtg" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\substance-6.2.jar" />
                    </Component>
                    <Component Id="cmp_1hsazVz2twEkgZt0KEzKFMtTec" Guid="{A19A873D-B22A-4680-A348-8CFA508DF6E4}">
                        <File Id="filoWph6_I7JzK8tUCsQS_h2VADV.w" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\substance-flamingo-6.2.jar" />
                    </Component>
                    <Component Id="cmpcns8.PpZdvL8VvkDcP_klnIk5lU" Guid="{9F1C0332-F24F-4B65-B968-914566C5D828}">
                        <File Id="filpCSh063Tp9FUigiaUs3TOSoPiWA" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\substance-flamingo.license.txt" />
                    </Component>
                    <Component Id="cmpxIszz6BxL4noS2EgaTgLTtYg8C8" Guid="{79869BA0-672D-4F03-8B32-6C5A6971492F}">
                        <File Id="filtZMRcv8ZhCBYKk82pWyeov1y.1c" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\substance.license.txt" />
                    </Component>
                    <Component Id="cmp2VtU3z4rhmTOkIY8jZKz9J1em.8" Guid="{FB5545F0-8A3C-4DB4-B480-A95D4D35D6A2}">
                        <File Id="filcpyhFML3u4ofTlRJ1sOLkr9uvYg" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\tablelayout.jar" />
                    </Component>
                    <Component Id="cmpqU2XDeo4M7g1sCVK_Z3dquv8wos" Guid="{0A265A13-AE0F-4685-A683-027CEDC3EC5E}">
                        <File Id="fil2M8Q_ZUtmPj62PdXp_O0DBHCRUg" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\treetable.jar" />
                    </Component>
                    <Component Id="cmpQmAZ_6o7u70fRySmsOsMl3QSen8" Guid="{1D8744FD-3971-4332-B16D-CBF9E1283ACE}">
                        <File Id="filpcvEkDNdxChOhls3xrBf2jyDtVo" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\trident-6.2.jar" />
                    </Component>
                    <Component Id="cmpGbjewESon5ScOIYreJcODqtzrf8" Guid="{176CF73B-B024-405C-B670-46AA5F2757E2}">
                        <File Id="filQZjqZIHSJq8GNf66AsE5DT.gt_w" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\trident.license.txt" />
                    </Component>
                    <Component Id="cmpEFXf22C9zzrSPnlnLshVCHUOy3w" Guid="{5100EC39-531A-40A8-AA56-94C5D0B0402C}">
                        <File Id="fildOVuR.FkKlJXrQeP1neosahHbbU" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ttf.doubletype.license.txt" />
                    </Component>
                    <Component Id="cmpfT3DSY8s394d_lLei6Dae7uiVzI" Guid="{D602B5CE-6E86-4798-BD00-9428F460D50F}">
                        <File Id="filBXxqHaFzPpQqalipUsoGF_.uOzY" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ttf.fontastic.license.txt" />
                    </Component>
                    <Component Id="cmpjkk10WRv4giDJTfYvX_I.5P6z58" Guid="{D31F3FED-777C-42F0-9D80-962D5AA423CA}">
                        <File Id="filDb7M5evVNU8Qr_RUuLRkE0aWNG8" KeyPath="yes" Source="$(var.BasePath)\FFDec\lib\ttf.jar" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="SkuaPublishedComponents">
            <ComponentRef Id="cmp1jNFW3f4TC5ZydoNMn2KRSYzrcQ" />
            <ComponentRef Id="cmpDSGGeDFo2AsbSrbqFJnkvQ2ahLM" />
            <ComponentRef Id="cmp5m.3X3VqzNgomGbOVaBnSYseOnQ" />
            <ComponentRef Id="cmpCDl9csrOFOqqrs8i0gy0AiafQVM" />
            <ComponentRef Id="cmpxuW2g8iq1IOgEZCaQZ41FWeDWRY" />
            <ComponentRef Id="cmp16IgY9t_fazmSPUoQ1CRWC.rJPU" />
            <ComponentRef Id="cmpPFYKxBnOblQarjebLOCsFXjRCDE" />
            <ComponentRef Id="cmp8hsp9SEV0wB7Ig3B4bPq.S8R6II" />
            <ComponentRef Id="cmpmSSw8f0QP6BTtDsttmf3.5qtlg8" />
            <ComponentRef Id="cmpBTF1QW_ZZrRWEO1zA11EyTQIu_A" />
            <ComponentRef Id="cmp76NgR1ug5r_dWRvSGvqCA2TRe0I" />
            <ComponentRef Id="cmpv1hRnTuIyEw8HTLR.TOmcv6RcHk" />
            <ComponentRef Id="cmpeyEdtaRR0DJwykzBAf7.88L7MFc" />
            <ComponentRef Id="cmpxjDK3X.F5CGQ4g.FHn37U1Wq1cE" />
            <ComponentRef Id="cmpqAJ_uP7nhj_ifyrHNxsjBNj.hUY" />
            <ComponentRef Id="cmpg9xqCg_X_Ye_2ppUmSVvugcrrQI" />
            <ComponentRef Id="cmpTFRuT2tca4GI3pybuRiHv1s4lCI" />
            <ComponentRef Id="cmpAalQni6rKhKfftMQpwteB4Q43bE" />
            <ComponentRef Id="cmpYUsAQD5_H4lkZaOFihdt1lq8tJA" />
            <ComponentRef Id="cmpapyxUwF5dGOyWg78m8WDqyfk4lM" />
            <ComponentRef Id="cmp90cGoq76VXAUDWy0_drsw8J4OFI" />
            <ComponentRef Id="cmpo6sOvF.6gNCyka0_kfH5DbLcAF0" />
            <ComponentRef Id="cmp34f515Kgos6k.4W9mKFZRz1XtkE" />
            <ComponentRef Id="cmpU86PzXQ9SSPdEag9wEQwGrFLWIw" />
            <ComponentRef Id="cmpF7UTkP4.iHa89YUQpDP4r92gzyM" />
            <ComponentRef Id="cmpEVzVxMzhEICnbbsNam6ZSszhKB4" />
            <ComponentRef Id="cmpa4NLJqlTYp._bXq4TM_MAIjJRBM" />
            <ComponentRef Id="cmp8gYc93fFKeipa4BxL7DMHfwLNcM" />
            <ComponentRef Id="cmpEZ5oVtMB2JU3ySArlAAxkZcwgfY" />
            <ComponentRef Id="cmpMlyimaLaGACmtcStHx0evR0Iq0k" />
            <ComponentRef Id="cmpCMGyk6cuM1Fa.r7HygS_nHm0haU" />
            <ComponentRef Id="cmpr7yJ11NeAJFnhycNWfuGfswmhuk" />
            <ComponentRef Id="cmpUgZM.GruUNhj_f.VW41RB5VQ6Dc" />
            <ComponentRef Id="cmpbCnbEzfz6x.k1QwVODi_NvnURbs" />
            <ComponentRef Id="cmpZsDKwJPhHLdTEqgNZrdpcddDvZc" />
            <ComponentRef Id="cmppN79cNWmdoe9svQXszvyURaVG8U" />
            <ComponentRef Id="cmpjwQEKti5i0hubIiPFWe5g0_gjdY" />
            <ComponentRef Id="cmpq8Pq.Vm4MMCvkd_6MoVrL2wpZHk" />
            <ComponentRef Id="cmpMMlcpLmrIKRKm32jJeNR1H2RX3Y" />
            <ComponentRef Id="cmpjI5cJaRsiYHVHzVrkfOwYtcpGOg" />
            <ComponentRef Id="cmpKA3f6mkU0wnYnOmvyEM4J7GNGdc" />
            <ComponentRef Id="cmpvWm3IMoVXVXlKCv1Y4zYgq1U_3Y" />
            <ComponentRef Id="cmpB_Gx_SinMoDsOzsgeiEvFqEF.k8" />
            <ComponentRef Id="cmpjlmlIKGeGq86HE2329.kEotx3kA" />
            <ComponentRef Id="cmpNMPP8D8914YVwpSPT1VV7yFcKfE" />
            <ComponentRef Id="cmpOIZKPUqZJkQtmIcSQl2xJDTr.pA" />
            <ComponentRef Id="cmpir87lYjO6bRxezEOdUl5mM0KNFg" />
            <ComponentRef Id="cmpSAE.v_lE_V97jwgjGm4iixutvrE" />
            <ComponentRef Id="cmpkUcXKeDNTEtxDRi7ufyMYI6rhZk" />
            <ComponentRef Id="cmphd1wYH18HgcrwcgM.yn95ziTilI" />
            <ComponentRef Id="cmpgzTT232Q52zGmghbZjU9TCBYODU" />
            <ComponentRef Id="cmpW61I7dLIB0FX59I4zYZsCoxxH4c" />
            <ComponentRef Id="cmpp.ehpjfePsG.djgYNTagYFm4S60" />
            <ComponentRef Id="cmp5YinyJaCP.aYkL4lsomf0_Jo0dc" />
            <ComponentRef Id="cmpk7CUUw8FulaEpEglSdx.YtUQYc8" />
            <ComponentRef Id="cmpdW513xVr9_JIBXqVMEcb1KSihYk" />
            <ComponentRef Id="cmprMJwWQ3SHV4HLVt99EH4TKFtQWg" />
            <ComponentRef Id="cmpl8Oxd0q3uSxkPd8hdc7Q4wMk9oU" />
            <ComponentRef Id="cmpzx2fBZci1yPUqpyzGvtlQwSxYVo" />
            <ComponentRef Id="cmpQewNmJncYyKlBroFTt9VsEEOkII" />
            <ComponentRef Id="cmpkLO9mZyF40JYADYMnRspu0BnR.4" />
            <ComponentRef Id="cmpgjVGDo6k.uUj5BIE6hcF2ctyxwE" />
            <ComponentRef Id="cmpfGuUA2vGjMsfYh8kS1G_0_olI54" />
            <ComponentRef Id="cmprRTlvS3Jl7x1O7sZ6u2wmdAdGZQ" />
            <ComponentRef Id="cmpMHHAQ4ntT4Gv1cSGVYcqNgJoAlk" />
            <ComponentRef Id="cmpMhMsid5395FXSJKw73zqlMzUv_4" />
            <ComponentRef Id="cmpfjx8DnPRViuoI2viIq1DjLs5eNw" />
            <ComponentRef Id="cmpSKT2A8s0lOxYc44grQCBBDrCB4o" />
            <ComponentRef Id="cmpXng2mZYWQ0rCxZzUrQVbvWJUH6M" />
            <ComponentRef Id="cmpreO5wElVRl9haN.9hdEXDE2bxPI" />
            <ComponentRef Id="cmp4nm8Ry9I07cIRpOeJdLGWj7EmAw" />
            <ComponentRef Id="cmpIR1gcAa.3VC1qRTgCwhOmgaXsSM" />
            <ComponentRef Id="cmpeYdhlCJ1bBnZcsEaIbtpPtkiBVo" />
            <ComponentRef Id="cmp_uLGgbRwLaGklgqGVH24QXobXaU" />
            <ComponentRef Id="cmpI8.e_gEWCIGLbSA_KX8CASmI54c" />
            <ComponentRef Id="cmpk34fWYBOvQBkKARk9TMePiYXzk4" />
            <ComponentRef Id="cmpTHFvmggxeLUd74bosHyun0y42A0" />
            <ComponentRef Id="cmp.QOEH2XZxbTwcwZp8pJDUCzG.Yc" />
            <ComponentRef Id="cmpA2I1JA4g8lbdxXaQoBsKVq0FlyA" />
            <ComponentRef Id="cmpSTKUWxf8X0UozoKirr_fyKqIKRM" />
            <ComponentRef Id="cmpx4ftLfI98fGQJbLh3LGc65Ns6u8" />
            <ComponentRef Id="cmpk1oP1FOUk4YK6zxby7wD9ky9aDo" />
            <ComponentRef Id="cmpdtMhAH.R2YW29wRGSUyHfhhX47U" />
            <ComponentRef Id="cmpRVlNpsBkFZc88QFC8RzshZUiGXQ" />
            <ComponentRef Id="cmpJFAaDAFZKvvNmxCLAD0D1ZVxLlM" />
            <ComponentRef Id="cmp_1hsazVz2twEkgZt0KEzKFMtTec" />
            <ComponentRef Id="cmpcns8.PpZdvL8VvkDcP_klnIk5lU" />
            <ComponentRef Id="cmpxIszz6BxL4noS2EgaTgLTtYg8C8" />
            <ComponentRef Id="cmp2VtU3z4rhmTOkIY8jZKz9J1em.8" />
            <ComponentRef Id="cmpqU2XDeo4M7g1sCVK_Z3dquv8wos" />
            <ComponentRef Id="cmpQmAZ_6o7u70fRySmsOsMl3QSen8" />
            <ComponentRef Id="cmpGbjewESon5ScOIYreJcODqtzrf8" />
            <ComponentRef Id="cmpEFXf22C9zzrSPnlnLshVCHUOy3w" />
            <ComponentRef Id="cmpfT3DSY8s394d_lLei6Dae7uiVzI" />
            <ComponentRef Id="cmpjkk10WRv4giDJTfYvX_I.5P6z58" />
        </ComponentGroup>
    </Fragment>
</Wix>