<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment><!-- Define source dir -->
        

        <?if $(var.Platform)=x86?>
            <?define ProgramFilesFolder="ProgramFilesFolder" ?>
        <?else?>
            <?define ProgramFilesFolder="ProgramFiles64Folder" ?>
        <?endif?>
        <SetDirectory Id="TARGETDIR" Value="[$(var.ProgramFilesFolder)][ProductName]" />
    
            <!-- Start Menu Folder-->
            <StandardDirectory Id="ProgramMenuFolder">
                <Directory Id="InstallProgramMenuFolder" Name="!(loc.ProductNameFolder)">
					<Component Id="SkuaManagerShortcut" Guid="42481D0A-B643-401A-9E8F-EFD134047D9C">
						<Shortcut Id="SkuaManagerShortcut" Name="!(loc.SkuaManagerShortcut)" Description="!(loc.SkuaManagerShortcutDescription)" Target="[INSTALLFOLDER]Skua.Manager.exe" WorkingDirectory="INSTALLFOLDER" Icon="icon.ico" IconIndex="0" />
						<RemoveFolder Id="CleanUpSkuaManagerShortCut" Directory="InstallProgramMenuFolder" On="uninstall" />
						<RegistryValue Root="HKCU" Key="Software\HarborPearl\Skua" Name="installed" Type="integer" Value="1" KeyPath="yes" />
					</Component>
					<Component Id="SkuaShortcut" Guid="40F46925-2A0F-4BE7-BE16-AABB4638EBD0">
						<Shortcut Id="SkuaShortcut" Name="!(loc.SkuaShortcut)" Description="!(loc.SkuaShortcutDescription)" Target="[INSTALLFOLDER]Skua.exe" WorkingDirectory="INSTALLFOLDER" Icon="icon.ico" IconIndex="0" />
						<RemoveFolder Id="CleanUpSkuaShortCut" Directory="InstallProgramMenuFolder" On="uninstall" />
						<RegistryValue Root="HKCU" Key="Software\HarborPearl\Skua" Name="installed" Type="integer" Value="1" KeyPath="yes" />
					</Component>
				</Directory>
            </StandardDirectory>

			<!-- Desktop Folder-->
            <StandardDirectory Id="DesktopFolder">
                <Component Id="SkuaManagerDesktopShortcut" Guid="BE4D437D-911C-467F-8C59-799FD7178044" Condition="(REMOVE=ALL) AND NOT (WIX_UPGRADE_DETECTED OR UPGRADINGPRODUCTCODE)">
					
                    <Shortcut Id="SkuaManagerDesktopShortcut" Name="!(loc.SkuaManagerShortcut)" Description="!(loc.SkuaManagerShortcutDescription)" Target="[INSTALLFOLDER]Skua.Manager.exe" WorkingDirectory="INSTALLFOLDER" />
                    <RemoveFolder Id="CleanUpSkuaManagerDesktopShortCut" Directory="DesktopFolder" On="uninstall" />
                    <RegistryValue Root="HKCU" Key="Software\HarborPearl\Skua\DesktopShortcuts" Name="Desktop" Type="string" Value="[DesktopFolder]" KeyPath="yes" />
                </Component>
                <Component Id="SkuaDesktopShortcut" Guid="CB7A85B4-EA80-4CFE-8D31-9972FDEDCED7" Condition="(REMOVE=ALL) AND NOT (WIX_UPGRADE_DETECTED OR UPGRADINGPRODUCTCODE)">
					
                    <Shortcut Id="SkuaDesktopShortcut" Name="!(loc.SkuaShortcut)" Description="!(loc.SkuaShortcutDescription)" Target="[INSTALLFOLDER]Skua.exe" WorkingDirectory="INSTALLFOLDER" />
                    <RemoveFolder Id="CleanUpSkuaDesktopShortCut" Directory="DesktopFolder" On="uninstall" />
                    <RegistryValue Root="HKCU" Key="Software\HarborPearl\Skua\DesktopShortcuts" Name="Desktop" Type="string" Value="[DesktopFolder]" KeyPath="yes" />
                </Component>
            </StandardDirectory>


            <Directory Id="INSTALLFOLDER" Name="!(loc.ProductNameFolder)" />

            <!-- <?if $(var.Platform)=x64 ?> -->
                <!-- Program Files (64bit) folder -->
                <!-- <Directory Id="ProgramFiles64Folder">
                    <Directory Id="INSTALLFOLDER" Name="!(loc.ProductNameFolder)" />
                </Directory> -->
            <!-- <?else?> -->
                <!-- Program Files (32bit) folder -->
                <!-- <Directory Id="ProgramFilesFolder">
                    <Directory Id="INSTALLFOLDER" Name="!(loc.ProductNameFolder)" />
                </Directory>
            <?endif?> -->
        </Fragment>
</Wix>