<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            <Directory Id="diru3oj2HTbW97V9VDzczVDKNLNfnc" Name="FFDec">
                <Component Id="cmpr_sSTwcMTdN.NNXr0M7ipNyQPMQ" Guid="{35EC50B4-4267-4EDC-A2A5-52122DF25248}">
                    <File Id="filtmjwO7pvmEaHcMfuosByqLMISCc" KeyPath="yes" Source="$(var.FFDecPath)\ffdec.bat" />
                </Component>
                <Component Id="cmp_ZBPTtOl8wyVcmSVMQ4s_yzJAO4" Guid="{9D5302CE-67FC-46A1-9869-8B7AA49A4E66}">
                    <File Id="filZKIttsQw733Tb6j.4cm2IBoX2dM" KeyPath="yes" Source="$(var.FFDecPath)\ffdec.jar" />
                </Component>
                <Directory Id="dirBrmGz_Asm13aDUe8F.VpUy2lZaI" Name="lib">
                    <Component Id="cmp4.ZiXk.vZsDfG5b0yC.MqcB9oXI" Guid="{7058E407-3D5B-4712-91F0-467C8269436B}">
                        <File Id="film.GQlSuwVCaK7v2UzIvtr6byQhw" KeyPath="yes" Source="$(var.FFDecPath)\lib\avi.jar" />
                    </Component>
                    <Component Id="cmplYBZbL.9LSJtaKzKxM4T7PpyWbU" Guid="{2EAA78CA-7CB4-4406-A6BD-AA7492C8E7E4}">
                        <File Id="fil0vY1e_fBQ4a53wOYaPS7Th8.ZZg" KeyPath="yes" Source="$(var.FFDecPath)\lib\avi.montemedia.license.txt" />
                    </Component>
                    <Component Id="cmpUCkkQLUJGawPxUR5GI8SI4zFZE0" Guid="{79076BFB-EC5F-4508-A741-1FE0D3BCE9EE}">
                        <File Id="filoB3Pr4CxynCLUo0IKvb_CFX9u8w" KeyPath="yes" Source="$(var.FFDecPath)\lib\cmykjpeg.jar" />
                    </Component>
                    <Component Id="cmpIDPIJsoxUjIJA17k7sBGyuli.38" Guid="{05083B84-B495-4D66-82CE-19A78F74C24C}">
                        <File Id="filoUHdRMYvdXCsRkLjnIuLVxRSfGM" KeyPath="yes" Source="$(var.FFDecPath)\lib\ddsreader.jar" />
                    </Component>
                    <Component Id="cmp0ph6dYQmF1_X.2qIHCmAxeR8ltw" Guid="{DBB1CA9C-4DD6-4032-856D-E28EFEAF0E4D}">
                        <File Id="filTUvqoTGzM5sNPAaMgjSTxWMjfnw" KeyPath="yes" Source="$(var.FFDecPath)\lib\ffdec_lib.jar" />
                    </Component>
                    <Component Id="cmpRHnjCsEmlUt_dSsC25ahyIviYd0" Guid="{C7460A8B-C15E-412C-85CA-AE94FFB3AC05}">
                        <File Id="filTCUcDxcyG._kSKmuy7l0LDIb0Uo" KeyPath="yes" Source="$(var.FFDecPath)\lib\ffdec_lib.license.txt" />
                    </Component>
                    <Component Id="cmp_cVmQXo.jFJWbKnbOGSnZh4bII4" Guid="{F7C9EE2A-E0E4-427F-B29B-A3391CFAC7EA}">
                        <File Id="fil87VHM.SBTS6VRW9vGCluSEN2o50" KeyPath="yes" Source="$(var.FFDecPath)\lib\flamingo-6.2.jar" />
                    </Component>
                    <Component Id="cmpdD0ItAJbgwSWLVNM64V6QYzewz4" Guid="{37F076C4-44B5-4484-8930-6AED2DE5AC17}">
                        <File Id="fildwB.ItyEO7aDHQIsh00IRb2Y8x4" KeyPath="yes" Source="$(var.FFDecPath)\lib\flamingo.license.txt" />
                    </Component>
                    <Component Id="cmpiEZaH9irBP_4MFM3FKlaXDFQTUw" Guid="{97EA1C52-89E6-40F5-943B-80EC6A5DB22C}">
                        <File Id="filKL9NpCOsSitbP6h.Aa1sfg6RzC8" KeyPath="yes" Source="$(var.FFDecPath)\lib\flashdebugger.jar" />
                    </Component>
                    <Component Id="cmpF_lSldPhLA7zBy40H9N8KlqNkBA" Guid="{8307EDAD-1F89-4EA6-9544-E1474B668F9B}">
                        <File Id="fil3kFCJmNcdHQSYVP1SWftnqFt6gM" KeyPath="yes" Source="$(var.FFDecPath)\lib\gif.jar" />
                    </Component>
                    <Component Id="cmpINwlsp7Flj0eRVIoAcJ0.bDrQSU" Guid="{8688625A-C3E4-4B41-B681-A49FF0166B16}">
                        <File Id="fil312.Ae6cuOe8vYc_dfpiHOByu.E" KeyPath="yes" Source="$(var.FFDecPath)\lib\gif.license.txt" />
                    </Component>
                    <Component Id="cmp4preofDY6e82cX1MkhzXlMpqNXM" Guid="{4C9133FD-9528-4045-9590-47CDCBC3F59F}">
                        <File Id="filZGBNUEIH8NPAySCcmSZ0LpP27bQ" KeyPath="yes" Source="$(var.FFDecPath)\lib\gnujpdf.jar" />
                    </Component>
                    <Component Id="cmpe_FMRLStMkAps.b4l4WycjXCQRc" Guid="{BAB7CF90-108A-4720-8834-80DD10B631C9}">
                        <File Id="fil9zrUzf8cXmacwQvfB5pwoQST5iQ" KeyPath="yes" Source="$(var.FFDecPath)\lib\graphs.jar" />
                    </Component>
                    <Component Id="cmpo_VzdNzM6XiIBy8jOgmScvX9dMw" Guid="{E019FA99-7B53-4698-A079-028D0628D707}">
                        <File Id="fil8qguEv_omIjbkPJrgjR7Vcsz2xM" KeyPath="yes" Source="$(var.FFDecPath)\lib\jargs.jar" />
                    </Component>
                    <Component Id="cmprlx5Vc9hry5N2vNic9LGB7QhePg" Guid="{756713C0-A8CE-45EE-9F10-9C9E6377E043}">
                        <File Id="filA1.1YQGc0.Xz1i_ypFfQjOfNY6U" KeyPath="yes" Source="$(var.FFDecPath)\lib\JavactiveX.jar" />
                    </Component>
                    <Component Id="cmpFJBRYSGnMc4LHlPCTB1pv_8R4T0" Guid="{C64103B2-1809-436E-BB47-A12ECC6899E3}">
                        <File Id="filk5C8yBLGw23H1MGueiSJtCbVq_0" KeyPath="yes" Source="$(var.FFDecPath)\lib\jl.license.txt" />
                    </Component>
                    <Component Id="cmpdGGmRiAMrYW.KBQ_dxI_I_rUHn8" Guid="{20C3C400-5CF4-41A3-A04A-C42E78031335}">
                        <File Id="filFVB8_KOUfflBiGN1.8QiR_OKQNI" KeyPath="yes" Source="$(var.FFDecPath)\lib\jl1.0.1.jar" />
                    </Component>
                    <Component Id="cmp2OXsbCJvKsn0mJ6SaE10J2a6mhU" Guid="{9371A2B1-0D51-4B22-BDAF-4C051592829F}">
                        <File Id="filts.2i3jYENeChAQ.mWwINYrGfOY" KeyPath="yes" Source="$(var.FFDecPath)\lib\jna-3.5.1.jar" />
                    </Component>
                    <Component Id="cmp65fbT18KII3tsJAg2GvLvUOTkTU" Guid="{42985E9B-7FE3-49FE-9CD0-B8EDFDA7591C}">
                        <File Id="filJjewoUSvmiOfQ6ijpsUGOyc7jFY" KeyPath="yes" Source="$(var.FFDecPath)\lib\jna.license.txt" />
                    </Component>
                    <Component Id="cmps.vuX.ex8dKf4wPmqXKUQiCdkYw" Guid="{3462CBA2-E4E0-49F5-A3EB-8B54C0012098}">
                        <File Id="fil_CcS8zngxw9_rsNCwM.lm80j.jc" KeyPath="yes" Source="$(var.FFDecPath)\lib\jpacker.jar" />
                    </Component>
                    <Component Id="cmpSO5a12IRkbqRXEPboPUrvFYvLo4" Guid="{5015FAD8-4DE6-4CEE-B5D1-9D27DC09523E}">
                        <File Id="filwvaIXf1a0bO_vHpBI_a_vvZtqRE" KeyPath="yes" Source="$(var.FFDecPath)\lib\jpacker.license.txt" />
                    </Component>
                    <Component Id="cmpCzbq3BMmGyyVlTEQ.Si_ZWxjUaM" Guid="{3B83D55B-45B4-4CC9-B623-2ED6DC1B42B1}">
                        <File Id="filHSCnUpmQLgDBxY62vQH2PoSXy_w" KeyPath="yes" Source="$(var.FFDecPath)\lib\jpproxy.jar" />
                    </Component>
                    <Component Id="cmpqe.RFAUERSNNfWUvHaSMWOYR9Dk" Guid="{05389003-337B-4CBF-97AE-CB4C22BF6466}">
                        <File Id="fil8VYzvTvH0yDahkjaaSGyqDwmIK0" KeyPath="yes" Source="$(var.FFDecPath)\lib\jpproxy.muffin.license.txt" />
                    </Component>
                    <Component Id="cmpSBi7h21RwjYNCdjiRZ6KTXwE61g" Guid="{EBD7E6FB-4F53-47F7-897F-0FE60D7FFD0E}">
                        <File Id="filLLuPnbJRvhYhpkOcZ4VIrz8H6OE" KeyPath="yes" Source="$(var.FFDecPath)\lib\jsyntaxpane-0.9.5.jar" />
                    </Component>
                    <Component Id="cmpghUUKeqHAXWBrdhTaPDbi9om7rs" Guid="{1D544ECE-9C0F-45C0-8CF5-AA2EE68CD7D7}">
                        <File Id="filS0hO.zzBmrAAvUOxSh4g1CC.q5k" KeyPath="yes" Source="$(var.FFDecPath)\lib\jsyntaxpane.license.txt" />
                    </Component>
                    <Component Id="cmpbAjHLPOWTP4pG5WK2G1OcAEX3xw" Guid="{18C5154B-F4A6-4993-B59B-CCC7E715648D}">
                        <File Id="filiYbb2aGv6V2x30BZ7dPnQgb4cc0" KeyPath="yes" Source="$(var.FFDecPath)\lib\LZMA.jar" />
                    </Component>
                    <Component Id="cmpb_kav3_piyfhmFTFlLNdGtzOTnU" Guid="{CB633C03-9FEB-4E8B-B0AA-E3A645C85DE6}">
                        <File Id="filWGfAugLkRZvIaTQwtXjegsleQSw" KeyPath="yes" Source="$(var.FFDecPath)\lib\minimal-json-0.9.5.jar" />
                    </Component>
                    <Component Id="cmprM5U.gwBiCB7_f19jOkbeBDBJZg" Guid="{B48ABAC9-792E-47B5-9A98-345416661834}">
                        <File Id="filyO6KnQsYGTB.MnKwbo8irBe9ghQ" KeyPath="yes" Source="$(var.FFDecPath)\lib\minimal-json.license.txt" />
                    </Component>
                    <Component Id="cmpdzEHy61qFaerAkAlvc9LMKKZbug" Guid="{C2EF07A5-CF7A-46D6-9419-9BA0E689A6CA}">
                        <File Id="filGBXGsxV7cStgrDCf7Z2fBpIXJcM" KeyPath="yes" Source="$(var.FFDecPath)\lib\nellymoser.jar" />
                    </Component>
                    <Component Id="cmpXH5eLGSUxLNEtjZq1gVGgLGiWTM" Guid="{2C3D90A4-6D76-44F3-8C32-3907BC677EE3}">
                        <File Id="fil1po7NBbzHwdZFcPKYhsaAvWS1gI" KeyPath="yes" Source="$(var.FFDecPath)\lib\nellymoser.license.txt" />
                    </Component>
                    <Component Id="cmpyMsgFQr.yJowvU1DW83NoEATJyU" Guid="{C0C774A3-CEA0-4B1C-8E42-E6958A55DECB}">
                        <File Id="filY.tPkEmRkWYHyfsgRija.tR8J0U" KeyPath="yes" Source="$(var.FFDecPath)\lib\sfntly.jar" />
                    </Component>
                    <Component Id="cmp9aKcG3Lf0yTkpIX9_Urabd_YnYs" Guid="{BFB0973D-B3C9-48CF-BA73-063D91B39B43}">
                        <File Id="filjjhnOPev.rkWtpPdN864nqq21FI" KeyPath="yes" Source="$(var.FFDecPath)\lib\sfntly.license.txt" />
                    </Component>
                    <Component Id="cmpxvzeCC58OE5lq8kQQNDMqu3ExIs" Guid="{BE3A3652-98FD-4069-A6EF-3493FB14DF19}">
                        <File Id="filPDQDmrPCsafAKC.VmdcmC4A8WMU" KeyPath="yes" Source="$(var.FFDecPath)\lib\substance-6.2.jar" />
                    </Component>
                    <Component Id="cmpxhWz9GPrQKd.2pR_2N0P2mX1sDg" Guid="{168FD597-BEAC-4593-AA28-A073C7621AB7}">
                        <File Id="filqWgueIjXduUta6aPqgzxzMEp1Gg" KeyPath="yes" Source="$(var.FFDecPath)\lib\substance-flamingo-6.2.jar" />
                    </Component>
                    <Component Id="cmpyrNIDSRQHoly8mZFByyRApq0SD8" Guid="{0F89E16D-A669-4D0E-8F95-89DDDA06D44E}">
                        <File Id="filppSRGlwY5HlnbisXoaB6ahhXevw" KeyPath="yes" Source="$(var.FFDecPath)\lib\substance-flamingo.license.txt" />
                    </Component>
                    <Component Id="cmpjW5wgPMTRtJ7By4xukJ39CAxW94" Guid="{E96D9B35-C0C9-44B6-B4BB-4EE2B02260C9}">
                        <File Id="filrpuaTigKZ_WbmSjXvcXt7ZC3YQY" KeyPath="yes" Source="$(var.FFDecPath)\lib\substance.license.txt" />
                    </Component>
                    <Component Id="cmphITlhSa05.sWEuDBV6jET_ClcB0" Guid="{C364B8CB-BF74-44DC-A454-11F00EB4021D}">
                        <File Id="filzbF5YW_OV_NdiTr9W87.ysjVKTc" KeyPath="yes" Source="$(var.FFDecPath)\lib\tablelayout.jar" />
                    </Component>
                    <Component Id="cmpDh0ju9qqK2iqO_I8UWn5Qo7Un2g" Guid="{E56AD458-92B6-47EB-A995-9721E2D53806}">
                        <File Id="filjzZMQ4uBGDD5byiEJUbyhU3_UmU" KeyPath="yes" Source="$(var.FFDecPath)\lib\treetable.jar" />
                    </Component>
                    <Component Id="cmp92.m6M.XhgJWEmzcfCnJ9OrXHHg" Guid="{D4A142E6-9FCA-4D93-8876-361568AC569B}">
                        <File Id="filHYMAX_xuOy3szEpmaZrcmkHlm9g" KeyPath="yes" Source="$(var.FFDecPath)\lib\trident-6.2.jar" />
                    </Component>
                    <Component Id="cmpIt5LQb1g2vTnR91GlHsbyaKt.vM" Guid="{578ABBA4-0882-45C9-86A7-EBEAB359D7D0}">
                        <File Id="filtenBrTSWLTbKzJNcUvksFacAPLM" KeyPath="yes" Source="$(var.FFDecPath)\lib\trident.license.txt" />
                    </Component>
                    <Component Id="cmpzRjXVinOz.D7wzA4zBe0LQY7588" Guid="{62EBCAC6-640B-4E9A-862C-0B02A4D1B021}">
                        <File Id="fil5.kCsbFGA.aPuyYuWDAl2Z9pNVY" KeyPath="yes" Source="$(var.FFDecPath)\lib\ttf.doubletype.license.txt" />
                    </Component>
                    <Component Id="cmpqV8NHMcQokui8O4ngUbXhOS6hfw" Guid="{3FCEF568-2199-4DC2-A298-A1A17A3AEA61}">
                        <File Id="fil.9IitYFIo9FXHUycTBFahcSIUQI" KeyPath="yes" Source="$(var.FFDecPath)\lib\ttf.fontastic.license.txt" />
                    </Component>
                    <Component Id="cmpR6ZAW._Gpy_kkzz6Q8roZth08CM" Guid="{569E4B3B-4F4C-444D-A8E4-F3B3C7E215E9}">
                        <File Id="filQaBGIuF7DTXgixf4Ct2rugFUWvg" KeyPath="yes" Source="$(var.FFDecPath)\lib\ttf.jar" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="FFDecComponents">
            <ComponentRef Id="cmpr_sSTwcMTdN.NNXr0M7ipNyQPMQ" />
            <ComponentRef Id="cmp_ZBPTtOl8wyVcmSVMQ4s_yzJAO4" />
            <ComponentRef Id="cmp4.ZiXk.vZsDfG5b0yC.MqcB9oXI" />
            <ComponentRef Id="cmplYBZbL.9LSJtaKzKxM4T7PpyWbU" />
            <ComponentRef Id="cmpUCkkQLUJGawPxUR5GI8SI4zFZE0" />
            <ComponentRef Id="cmpIDPIJsoxUjIJA17k7sBGyuli.38" />
            <ComponentRef Id="cmp0ph6dYQmF1_X.2qIHCmAxeR8ltw" />
            <ComponentRef Id="cmpRHnjCsEmlUt_dSsC25ahyIviYd0" />
            <ComponentRef Id="cmp_cVmQXo.jFJWbKnbOGSnZh4bII4" />
            <ComponentRef Id="cmpdD0ItAJbgwSWLVNM64V6QYzewz4" />
            <ComponentRef Id="cmpiEZaH9irBP_4MFM3FKlaXDFQTUw" />
            <ComponentRef Id="cmpF_lSldPhLA7zBy40H9N8KlqNkBA" />
            <ComponentRef Id="cmpINwlsp7Flj0eRVIoAcJ0.bDrQSU" />
            <ComponentRef Id="cmp4preofDY6e82cX1MkhzXlMpqNXM" />
            <ComponentRef Id="cmpe_FMRLStMkAps.b4l4WycjXCQRc" />
            <ComponentRef Id="cmpo_VzdNzM6XiIBy8jOgmScvX9dMw" />
            <ComponentRef Id="cmprlx5Vc9hry5N2vNic9LGB7QhePg" />
            <ComponentRef Id="cmpFJBRYSGnMc4LHlPCTB1pv_8R4T0" />
            <ComponentRef Id="cmpdGGmRiAMrYW.KBQ_dxI_I_rUHn8" />
            <ComponentRef Id="cmp2OXsbCJvKsn0mJ6SaE10J2a6mhU" />
            <ComponentRef Id="cmp65fbT18KII3tsJAg2GvLvUOTkTU" />
            <ComponentRef Id="cmps.vuX.ex8dKf4wPmqXKUQiCdkYw" />
            <ComponentRef Id="cmpSO5a12IRkbqRXEPboPUrvFYvLo4" />
            <ComponentRef Id="cmpCzbq3BMmGyyVlTEQ.Si_ZWxjUaM" />
            <ComponentRef Id="cmpqe.RFAUERSNNfWUvHaSMWOYR9Dk" />
            <ComponentRef Id="cmpSBi7h21RwjYNCdjiRZ6KTXwE61g" />
            <ComponentRef Id="cmpghUUKeqHAXWBrdhTaPDbi9om7rs" />
            <ComponentRef Id="cmpbAjHLPOWTP4pG5WK2G1OcAEX3xw" />
            <ComponentRef Id="cmpb_kav3_piyfhmFTFlLNdGtzOTnU" />
            <ComponentRef Id="cmprM5U.gwBiCB7_f19jOkbeBDBJZg" />
            <ComponentRef Id="cmpdzEHy61qFaerAkAlvc9LMKKZbug" />
            <ComponentRef Id="cmpXH5eLGSUxLNEtjZq1gVGgLGiWTM" />
            <ComponentRef Id="cmpyMsgFQr.yJowvU1DW83NoEATJyU" />
            <ComponentRef Id="cmp9aKcG3Lf0yTkpIX9_Urabd_YnYs" />
            <ComponentRef Id="cmpxvzeCC58OE5lq8kQQNDMqu3ExIs" />
            <ComponentRef Id="cmpxhWz9GPrQKd.2pR_2N0P2mX1sDg" />
            <ComponentRef Id="cmpyrNIDSRQHoly8mZFByyRApq0SD8" />
            <ComponentRef Id="cmpjW5wgPMTRtJ7By4xukJ39CAxW94" />
            <ComponentRef Id="cmphITlhSa05.sWEuDBV6jET_ClcB0" />
            <ComponentRef Id="cmpDh0ju9qqK2iqO_I8UWn5Qo7Un2g" />
            <ComponentRef Id="cmp92.m6M.XhgJWEmzcfCnJ9OrXHHg" />
            <ComponentRef Id="cmpIt5LQb1g2vTnR91GlHsbyaKt.vM" />
            <ComponentRef Id="cmpzRjXVinOz.D7wzA4zBe0LQY7588" />
            <ComponentRef Id="cmpqV8NHMcQokui8O4ngUbXhOS6hfw" />
            <ComponentRef Id="cmpR6ZAW._Gpy_kkzz6Q8roZth08CM" />
        </ComponentGroup>
    </Fragment>
</Wix>