<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">

    <!-- Fixed upgrade Id -->
    <?define UpgradeCode = "{8C197FE6-57DF-41FD-A0CD-84B5D3B97BDC}" ?>

    <!-- Define main product -->
    <Package Name="!(loc.ProductName_$(var.Platform))" Language="!(loc.Language)" Version="$(var.BuildVersion)" Manufacturer="!(loc.Company)" UpgradeCode="$(var.UpgradeCode)" InstallerVersion="200">

        <!-- Provide package details -->
        <SummaryInformation Manufacturer="!(loc.Company)" Description="!(loc.Description)" Keywords="!(loc.Keywords)" />
		
		<Upgrade Id="$(var.UpgradeCode)">
			<!-- Downgrade Protection -->
			<UpgradeVersion Minimum="$(var.BuildVersion)" OnlyDetect="yes" IncludeMinimum="yes" Property="DOWNGRADE_DETECTED" />
			<!-- Major Upgrade Configuration -->
			<UpgradeVersion IncludeMinimum="no" Maximum="$(var.BuildVersion)" IncludeMaximum="no" MigrateFeatures="yes" Property="UPGRADE_DETECTED" />
    </Upgrade>

        <InstallExecuteSequence>
          <RemoveExistingProducts After="InstallInitialize" />
        </InstallExecuteSequence>

      <Launch Condition="NOT DOWNGRADE_DETECTED" Message="!(loc.DowngradeErrorMessage)" />
		
        <!-- Include .cab file into .msi file -->
        <MediaTemplate EmbedCab="yes" />

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
        <UIRef Id="WixUI_Skua" />
        <UIRef Id="WixUI_ErrorProgressText" />


        <!-- Define main app icon -->
        <Icon Id="icon.ico" SourceFile="$(var.ProjectDir)SkuaIcon.ico" />

        <!-- Use the icon.ico icon for this installer (shows up in Add/Remove programs) -->
        <Property Id="ARPPRODUCTICON" Value="icon.ico" />
        <!-- Help/Support website (shows in the Add/Remove programs) -->
        <Property Id="ARPURLINFOABOUT" Value="https://github.com/BrenoHenrike/Skua" />

        <!-- Create a basic UI for the installer -->
        <!--<UIRef Id="WixUI_Minimal" />-->

        <!-- Change the installer UI background images -->
        <!--<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\Assets\License.rtf" />
        <WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)\Assets\Background.bmp" />
        <WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)\Assets\Banner.bmp" />-->   

        <!-- Define components, shortcuts, files etc... for installer -->
        <Feature Id="SkuaProductFeature" Title="Skua" Description="The main application." Level="1">
            <ComponentGroupRef Id="SkuaPublishedComponents" />
        </Feature>
        
        <!-- include the feature for the shortcuts -->
      <Feature Id="SkuaShortcuts" Title="Shortcuts" Description="Create shortcuts for Skua." Level="1">
        <ComponentRef Id="SkuaManagerShortcut" />
        <ComponentRef Id="SkuaShortcut" />
        <ComponentRef Id="SkuaDesktopShortcut" />
        <ComponentRef Id="SkuaManagerDesktopShortcut" />
      </Feature>	
    </Package>
</Wix>
