<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Skua.Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Skua.Manager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Skua.Manager.Properties.Settings>
            <setting name="CurrentTheme" serializeAs="String">
                <value>Skua,Dark,#FF607D8B,#FF607D8B,#FF000000,#FF000000,true,4.5,Medium,All</value>
            </setting>
            <setting name="UserGitHubToken" serializeAs="String">
                <value />
            </setting>
            <setting name="AnimationFramerate" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="CheckClientUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckClientPrereleases" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientDownloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DeleteZipFileAfter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SyncThemes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoUpdateBotScripts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckBotScriptsUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CheckAdvanceSkillSetsUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoUpdateAdvanceSkillSetsUpdates" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ChangeLogActivated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
        </Skua.Manager.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Skua.Manager.Properties.Settings>
            <setting name="DefaultThemes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <string>Skua,Dark,#FF607D8B,#FF607D8B,#FF000000,#FF000000,true,4.5,Medium,All</string>
                        <string>RBot,Light,#FF9C934E,#FF9C934E,#FF000000,#FF000000</string>
                        <string>Grimoire,Dark,#FFCC1F41,#FFCC1F41,#FFFFFFFF,#FFFFFFFF</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ApplicationVersion" serializeAs="String">
                <value>1.2.3.1</value>
            </setting>
        </Skua.Manager.Properties.Settings>
    </applicationSettings>
</configuration>